/vendors
/node_modules
/src/vendors
npm-debug.log
/reports
/tmp
/src/app-clientmanagement/ocInfra/
/src/app-weather/ocInfra/
/src/app-miniquote/ocInfra/
/src/app-kitchensink/ocInfra/
/mobile
/ocInfra/css/Generic_Iconfont
/ocInfra/css/Omni_Icontfont
/ocInfra/assets/oc-fonts/
/functionalReports
