<div class="container-fluid">
	<form class="form-horizontal">
			<div class="subsectiondiv span10" style="color:black;height:350px">
				<div class="titlebox ">List of available Views:</div>
				<div class="span12">
				<textarea id="viewList-text" style="margin-top:6px;display:block" class="alert alert-info span10"></textarea>
				</div>
				<br />
				<br />
				<br />
				<div class="span12" style="margin-top:10px">
				<select id="viewList"  multiple="multiple" class="btn btn-default">
					<option ng-repeat="view in viewNames"
						value="{{view}}"><span class="pull-left">{{view}}</span></option>
				</select>
				
				<button id="submit" class="btn btn-default" ng-click="postBulkConvert()">Convert &gt;</button>
				</div>
			</div>

	</form>
</div>
