<!-- Main form -->

<div class="container-fluid">
	<form class="form-horizontal" ng-submit="save(data)" uxvalidate id="{{currentScreenId}}" saveonexit>
		<div id="innerContent" class="scrollable row-fluid" ng-repeat="a in m">
           	<div class="span{{sections.sectionsize}} sectiondiv" ng-repeat="sections in a.section">
           		<div ng-repeat="field in sections.element">
           			<ng-switch on="field.type">
	           			<div ng-switch-default></div>
	           			<div id="{{field.gridId}}" ng-switch-when="grid" ng-controller='PreviewGridCtrl'>
	                  		<ng-include src="gridTemplate"></ng-include>
	                  	</div>
                  	</ng-switch>
           		</div>
				<div id= "ID_{{subsections.subsectiontitle}}" class="subsectiondiv" ng-repeat="subsections in sections.subsection" hidesection>
					<i id="i_{{subsections.id}}" toggleclass="icon-minus icon-plus" toggletarget="i_{{subsections.id}}" class="icon-minus pull-right anchor-pointer" data-toggle="collapse" data-target="#{{subsections.id}}" ng-show="{{subsections.id}}" ></i>
					<div class="titlebox">{{subsections.subsectiontitle}}</div>
					<div autocollapsed="{{subsections.autocollapse}}" id="{{subsections.id}}" class="collapse in">
						<div class="row-fluid">
							<div id="ID_{{field.name}}" class="fieldDiv" ng-repeat="field in subsections.element" >
		    						<ng-switch on="field.type">
							            <div ng-switch-default class="input {{field.type}} control-group span{{field.fieldspan}}">	            
											<ng-switch on="field.type">
									              <span ng-switch-default>
									                	<label class="control-label labelspan" for="{{field.name}}">
									                		<div ng-show="field.label">
											             		<ng-switch on="field.labeltype">
												             		<div ng-switch-when="variable">
												             			<span ng-show="(field.required == 'required') && (actionName!='Inquire')" class="requiredmark">*</span>
												             			<span>{{data[field.label]}}:</span>
												             		</div>
												             		<div ng-switch-default>
												             		<span ng-show="(field.required == 'required') && (actionName!='Inquire')" class="requiredmark">*</span>
																     <span>{{field.label}}:</span>
																    </div>
											             		</ng-switch>
											             		<i rel="popover" html="true" class="icon-info-sign anchor-pointer" ng-show="field.help == 'block'" popover="{{field.helptext}}" popover-placement="right"   />											            		
											            	</div>
										            	</label>
										          </span>
										          <div ng-switch-when="button"></div>
										          <div ng-switch-when="search_button" class="span{{field.fieldspan}}"></div>
										          <div ng-switch-when="spacer"></div>
										          <div ng-switch-when="grid"></div>
												  <div ng-switch-when="literal"></div>
										          <div ng-switch-when="checkbox"></div>
											</ng-switch>
								              <div class="controls controlspan">
								                <ng-switch on="field.type">
								                
								            	    <input ng-switch-default type="{{field.type}}" ng-model=data[field.name] class="span10 {{field.required}}" id="{{field.name}}" value="{{field.name}}" label="{{field.label}}" >
								
								                    <label ng-switch-when="label" class="span{{field.size}}" id="{{field.name}}">
									            		<span>		             		           	
								                   			 
									             		</span> 
									             	</label>
								                    
								                    <label ng-switch-when="literal"  class="control-label labelspan" for="{{field.name}}">
									               	 	<span>{{field.label}}</span><i rel="popover" class="icon-info-sign helpText" style="cursor:pointer;display:{{field.help}}" popover="{{field.helptext}}" popover-title="Help" popover-placement="right" /> 	
										            </label>
												    <input ng-switch-when="autocomplete" type="text" id="{{field.name}}" ng-model="result" typeahead="option for option in autoCompleteOption(field) | filter:$viewValue" class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}"  label="{{field.label}}" ux-required="{{field.required}}" uxautoformat="{{field.autoformat}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
								                    
								                    <input ng-switch-when="text" type="text" id="{{field.name}}" maxlength="{{field.maxlength}}" ng-model=data[field.name] class="span{{field.size}}"  placeholder="{{field.placeholder}}"  id="{{field.name}}" label="{{field.label}}" ux-required="{{field.required}}" uxautoformat="{{field.autoformat}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
												
													<input ng-switch-when="url" type="url" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}}" placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
													
													<input ng-switch-when="email" type="email" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}}" placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
													
													<input ng-switch-when="phone" type="tel" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}}" placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
													
							                    	<input ng-switch-when="mask" type="text"  id="{{field.name}}" maxlength="{{field.maxlength}}" ng-model=data[field.name] class="span{{field.size}}"  placeholder="{{field.placeholder}}"  id="{{field.name}}" label="{{field.label}}" uxautoformat="{{field.autoformat}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
												
													<input ng-switch-when="number" type="text"  id="{{field.name}}" maxlength="{{field.maxlength}}" ng-model=data[field.name] class="span{{field.size}}"  label="{{field.label}}" uxautoformat="{{field.autoformat}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
							
							                    	<input ng-switch-when="date" type="date" id="{{field.name}}" dateFormat="{{field.mask}}"  ux-date-picker ng-model=data[field.name] class="span{{field.size}}"  label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}">
							
													<div ng-switch-when="money">
								                  		<input type="text" class="span{{field.size}}" ng-model="data[field.name]" id="{{field.name}}" label="{{field.label}}" ux-disabled="{{field.disabled}}" ux-currency="$">
													</div>
													
													<div ng-switch-when="spacer"  class="span{{field.size}}"  ng-model=data[field.name] ></div>
													
													<div ng-switch-when="searchtext" class="input-append">
							                		 	<input  type="text" placeholder="{{field.placeholder}}" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}}" uxautoformat="{{field.autoformat}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" />
							                		 	<input type="button" class="btn-search btn-primary" >
							                		 	<div id="{{field.buttonid}}" class="imgsearch" title="{{field.title}}"></div>
													</div>
													
													<div ng-switch-when="checkbox">
														<label class="control-label">{{field.label}}</label>
							                    		<input  type="checkbox" ng-model=data[field.name] value="{{field.value}}" class="span1 checkboxSpan" id="field" label="{{field.instructions}}" id="{{field.name}}"  ng-true-value="Y" ng-false-value="N">
							                        </div>
							                        
							                    	<textarea ng-switch-when="textarea" ng-model=data[field.name] class="span{{field.size}}" label="{{field.instructions}}" id="{{field.name}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >{{field.value}}</textarea>
							                        
								                    <select ng-switch-when="select" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}}" ux-required="{{field.required}}">
							                        	<option></option>
							                        	<option ng-repeat="option in field.options" value="{{option.value}}" id="{{field.name}}">{{option.description}}</option>
							                    	</select>
	
								                    <select ng-switch-when="multiple" id="{{field.name}}" ng-model=data[field.name] multiple class="span{{field.size}}" ux-required="{{field.required}}">
							                        	<option></option>
							                        	<option ng-repeat="option in field.options" value="{{option.value}}" id="{{field.name}}">{{option.description}}</option>
							                    	</select>
							                    
							                    	<fieldset ng-switch-when="radio" class="span{{field.size}}">
							                        	<label ng-repeat="option in field.options" class="span4 radio">
							                            	<input type="radio" ng-model=data[field.name]  value="{{option.value}}" id="{{field.name}}">
							                            {{option.description}}
							                        	</label>
							                    	</fieldset>
							                    	
							                    	<fieldset ng-switch-when="checkboxes" class="span{{field.size}}">
							                        	<label ng-repeat="option in field.options">
							                            	<input type="checkbox" ng-model="" value="{{option.value}}" id="{{field.name}}">
							                            {{option.description}}
							                        	</label>
							                    	</fieldset>
							                    	
							                    	<input ng-switch-when="button" id="{{field.name}}" type="button" value="{{field.label}}" class="btn-primary" ux-disabled="{{field.disabled}}">
							                    	
							                    	<input ng-switch-when="search_button" type="button" value="{{field.label}}" class="btn-primary"  ng-click="fetchGridData(field.gridId)" >
							                    	

							                    	
							                    	<div id="{{field.gridId}}" ng-switch-when="grid" ng-show="visible" ng-controller='PreviewGridCtrl'>
							                  			<ng-include src="gridTemplate"></ng-include>
							                    	</div>

							                    	<fieldset ng-switch-when="grouptext">
							                    	
												 		<div class="groupdiv span12">
												 		<span ng-repeat="subfield in field.controlgroup" >
												 		<ng-switch on="subfield.type">
															<input ng-switch-when="search_button" type="button" value="{{subfield.label}}" class="btn-primary"  ng-click="fetchGridData(subfield.gridId)" > 
											 				<input ng-switch-when="text" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" uxautoformat="{{subfield.autoformat}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ux-disabled="{{subfield.disabled}}" />
												 		
												 			<input ng-switch-when="mask" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" uxautoformat="{{subfield.autoformat}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ux-disabled="{{subfield.disabled}}" />
												 		
												 			<input ng-switch-when="number" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" />
												 			
												 			<input ng-switch-when="url" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="url" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" />
												 			
												 			<input ng-switch-when="email" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="email" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" />
												 			
												 			<input ng-switch-when="phone" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="tel" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" />
												 			
												 			<input ng-switch-when="checkbox" type="checkbox" ng-model=data[subfield.name] value="{{subfield.value}}" class="span{{subfield.size}}" label="{{subfield.instructions}}" id="{{subfield.name}}">
												 			
												 			<input ng-switch-when="autocomplete" type="text" id="{{subfield.name}}" ng-model="result" typeahead="option for option in autoCompleteOption(subfield) | filter:$viewValue" class="span{{subfield.size}}"  placeholder="{{subfield.placeholder}}"  label="{{subfield.label}}" ux-required="{{subfield.required}}" uxautoformat="{{subfield.autoformat}}" ux-regexp="{{subfield.regexp}}" ux-disabled="{{subfield.disabled}}" >
												 		
												 			<input ng-switch-when="button" type="button" id="{{subfield.name}}" class="btn-primary" value="{{subfield.label}}" ux-disabled="{{subfield.disabled}}"/>
												 			
							                   				<fieldset ng-switch-when="radio" class="span10">
										                         <label ng-repeat="option in subfield.options" class="span4 radio">
										                            <input type="radio" ng-model="data[subfield.name]" class="span4"  value="{{option.value}}" id="{{subfield.name}}" >
										                            {{option.description}}
										                        </label>
										                    </fieldset>
										                    
												 			<textarea ng-switch-when="textarea" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" label="{{subfield.instructions}}" id="{{subfield.name}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}"></textarea> 
												 			
												 			<select ng-switch-when="select" class="span{{subfield.size}}" id="{{subfield.name}}" ng-model=data[subfield.name] ux-required="{{subfield.required}}">
							                        			<option></option>
							                        			<option ng-repeat="option in subfield.options" value="{{option.value}}">{{option.description}}</option>
							                   				</select>
															
										                    <select ng-switch-when="multiple" id="{{subfield.name}}" ng-model=data[subfield.name] multiple class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}">
										                        <option ng-repeat="option in subfield.options" value="{{option.value}}" id="{{subfield.name}}">{{option.description}}</option>
										                    </select>
								                   			
							                   			
								                   			<div ng-switch-when="searchtext" class="span{{subfield.size}} input-append">
									               				<input  type="text" placeholder="{{subfield.placeholder}}" maxlength="{{subfield.maxlength}}" id="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}}" uxautoformat="{{subfield.autoformat}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ux-disabled="{{subfield.disabled}}" />
													 			<input  type="button" class="btn-search btn-primary">
													 			<div id="{{subfield.buttonid}}" class="imgsearch" title="{{subfield.title}}"></div>
												 			</div>
												 			<input ng-switch-when="date" type="date" dateFormat="{{field.mask}}"  ux-date-picker ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" id="{{subfield.name}}" label="{{subfield.label}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}">
							                   				
							                   				<div ng-switch-when="money" >
								                  				<input type="text" class="span{{subfield.size}}" ng-model=data[subfield.name] id="{{subfield.name}}" label="{{subfield.label}}" ux-disabled="{{subfield.disabled}}"ux-currency="$" >
															</div>
															<label ng-switch-when="label" class="span{{subfield.size}}" id="{{subfield.name}}">
											            		<span>		             		           	
										                   			 
											             		</span> 
											             	</label>
											             	<label ng-switch-when="literal"  class="control-label labelspan" for="{{subfield.name}}">
											               	 	<span>{{subfield.label}}</span> 	
												            </label>
												 		</ng-switch>
												 		</span>	
													</div>
												</fieldset>
							                </ng-switch>
										</div>
						            </div>
							       	<div ng-switch-when="hidden">
							       		<!-- <input id={{field.name}} value={{data[field.name]}} type="hidden"/> -->
							       	</div>
								</ng-switch>
		    				</div>
		    			</div>
					</div>
				</div>
			</div>
			<div class="buttonholder" align="center">
		   		<input type="submit" class="btn-primary" value="Submit">
		   		<input type="reset" class="btn-primary" value="Reset">
			</div>
		</div>
	</form>
</div>
