<!--CANVAS Main form -->
<ng-include id="sidebar" src="sidebarTemplate" class="span2" style="float:left;margin:10px; margin-top:0px;"></ng-include>
<!-- <ng-include src="propertyofControl"></ng-include> -->
<div class="container-fluid">
	<form class="span11 form-horizontal canvas-form" id="canvasMainForm" style="overflow-y:scroll; margin:5px;">
		<div class="topDiv" ng-repeat="a in m">
			<!-- <h4 class="staticdatabar" ng-click="editMainView(this, $event)">{{mainView.title}}</h4>
           <h5 ng-click="editMainView(this, $event)" align="left">{{mainView.subtitle}}</h5> -->
           <p ng-click="editMainView(this, $event)"><span class="subheader canvas-form-subheader">{{a.title}}</span></p>
           <div class="uppersectiondiv unstyled droppedSections ui-sortable" >
           		
	           	<div id="mainList" class="span{{sections.sectionsize}} sectiondiv canvas-section" ng-repeat="sections in a.section" ng-click="editSection(sections,'section', $event)" section-delete>
	           	<img src="img/cross.png" id="sectionDeleteArea" class="" ng-click="deleteSectionArea($event)" title="Delete Section" alt="X" style="float:right; cursor:pointer; display:none;">
	           		<div class="span{{sections.columnsize}} canvas-subsection unstyled droppedSubSections ui-sortable">
					<div id="subsection" class="subsectiondiv" ng-repeat="subsections in sections.subsection" draggable style="cursor:move;" ng-click="editSubSection(subsections,'subsection', $event)" hidesection>
						
						<img src="img/cross.png" id="subSectionDelete" class="" ng-click="deleteSubSection($event)" title="Delete Sub-Section" alt="X" style="float:right; margin:-15px; cursor:pointer; display:none;">
						<div class="titlebox">{{subsections.subsectiontitle}}</div>
						<div>
							<div class="row-fluid">
								<div class="span12 unstyled droppedFields ui-sortable" style="list-style-type: none; margin:10px;" >
								<div id="field" ng-repeat="field in subsections.element"  class="span{{field.fieldspan}}" draggable style="cursor:pointer;">
			    					
			    						<ng-switch on="field.type">
								            <div ng-switch-default class="input {{field.type}} control-group span12" ng-class="field.required && 'required'">	            
										    	 <ng-switch on="field.type">
										              <span ng-switch-default>
										               	 <ng-switch on="field.required">
										                	<div ng-switch-when ="required" >
										                	<label ng-click="editField(field,'control', $event)" class="control-label labelspan" for="{{field.name}}">
											            	<span class="requiredmark">*</span>
											            	<span>		             		           	
										                   			 {{field.label}}: 
											             	</span> <i rel="popover" html="true" ng-click="editField(field,'control', $event)" class="icon-info-sign helpText"  popover-trigger="mouseenter" style="cursor:pointer;display:{{field.help}}" popover="{{field.helptext}}" popover-placement="right"   />
											             	<img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
											             	</label>
											             	 </div>
											             	 <div ng-switch-default>
											             	 <label ng-click="editField(field,'control', $event)" class="control-label labelspan" for="{{field.name}}">
											            	<span>		             		           	
										                   			 {{field.label}}:
											             	</span> <i rel="popover" html="true" ng-click="editField(field,'control', $event)" class="icon-info-sign helpText"  popover-trigger="mouseenter" style="cursor:pointer;display:{{field.help}}" popover="{{field.helptext}}" popover-placement="right" />
											             	<img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
											             	</label>
											             	 </div>
											             	</ng-switch>
											          </span>
											          <div class="labelspan" ng-switch-when="button">
											          <img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
											          </div>
											          <div ng-switch-when="grid">
											          	<!-- <img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none; margin-right:-25px;"  title="Delete Field" alt="X"> -->
											          </div>
											          <div ng-switch-when="checkbox">
											          
											          </div>
											          <div class="labelspan"  ng-switch-when="spacer" ng-click="editField(field,'control', $event)">
											          	<img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
											          	<span>		             		           	
										                 	
											            </span>
											          </div>
											          <div ng-switch-when="search_button" class="span{{field.fieldspan}}"></div>
											          <div ng-switch-when="literal">
											          	<img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
											          </div>
											       </ng-switch>
									              <div class="controls controlspan">
								                <ng-switch on="field.type">
								                    <input ng-switch-default type="{{field.type}}" ng-model=data[field.name] class="span10 {{field.required}}" id="{{field.name}}" value="{{field.name}}" label="{{field.label}}">
								

								                    
								                    <label ng-switch-when="label" class="span{{field.size}}" for="{{field.name}}">
									            		<span ng-click="editField(field,'control', $event)">		             		           	
								                   			 [Label Value]
									             		</span> 
									             	</label>
											        
											        <label ng-switch-when="literal" class="control-label labelspan" for="{{field.name}}">
											            <span ng-click="editField(field,'control', $event)">		             		           	
										                		 {{field.label}} 
											            </span> 
											        </label>
											        
											        

											        
											        <div ng-switch-when="grid" ng-controller='GridCtrl' ng-click="editField(field,'grid', $event)">
							                    		<!-- <div id="{{field.name}}" class="gridStyle" ng-grid="gridOptions"></div> -->
							                    		<img id="fieldDelete" src="img/cross.png" ng-click="deleteField($event)" class="" style="float:right; cursor:pointer; display:none;"  title="Delete Field" alt="X">
							                    		<ng-include src="gridTemplate"></ng-include>
							                    	</div>     	
								                    

								                    
								                    <input ng-switch-when="autocomplete" type="text" id="{{field.name}}" ng-click="editField(field,'control', $event)" class="span{{field.size}} {{field.required}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}" >
								                    
													<input ng-switch-when="text" type="text" id="{{field.name}}" maxlength="{{field.maxlength}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
													
								                    <input ng-switch-when="url" type="url" id="{{field.name}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
								                    
								                    <input ng-switch-when="email" type="email" id="{{field.name}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
								                    
								                    <input ng-switch-when="phone" type="tel" id="{{field.name}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
													
							                    	<input ng-switch-when="mask" type="text"  id="{{field.name}}" maxlength="{{field.maxlength}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}"  placeholder="{{field.placeholder}}"  id="{{field.name}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
													<input ng-switch-when="number" type="text" id="{{field.name}}" maxlength="{{field.maxlength}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
								
								                    <input ng-switch-when="date" type="date" ui-date uxdate ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}" id="{{field.name}}" label="{{field.label}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">
								
													<div ng-switch-when="money">
									                  <input type="text" id="{{field.name}}" label="{{field.label}}" ng-click="editField(field,'control', $event)" class="span{{field.size}} {{field.required}}" ux-disabled="{{field.disabled}}" ux-currency="$">
													</div>
													
								                    <div ng-switch-when="spacer"  class="span{{field.size}}"  ng-model=data[field.name]  ng-click="editField(field,'control', $event)" ></div>
													<div ng-switch-when="searchtext" class="input-append">
							                		 	<input type="text" placeholder="{{field.placeholder}}" id="{{field.name}}" ng-model=data[field.name] class="span{{field.size}} {{field.required}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ng-click="editField(field,'control', $event)" ux-disabled="{{field.disabled}}"/>
							                		 	
							                		 	<div id="{{field.buttonid}}" class="imgsearch canvasSearchButton" title="{{field.title}}"></div>
													</div>
								
													<div ng-switch-when="checkbox" ng-click="editField(field,'control', $event)">
														<label class="control-label">{{field.label}}</label>
								                    <input type="checkbox"  ng-model=data[field.name] value="{{field.value}}" class="span4" id="field" label="{{field.instructions}}" id="{{field.name}}" ng-true-value="Y" ng-false-value="N">
							                        </div>
								                        
								                    <textarea ng-switch-when="textarea" maxlength="{{field.maxlength}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}" label="{{field.instructions}}" id="{{field.name}}" ux-required="{{field.required}}" ux-regexp="{{field.regexp}}" ux-disabled="{{field.disabled}}">{{field.value}}</textarea>
								                        
								                    <select ng-switch-when="select" id="{{field.name}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] class="span{{field.size}} {{field.required}}" ux-required="{{field.required}}">
								                        <option ng-repeat="option in field.options" value="{{option.value}}" id="{{field.name}}">{{option.description}}</option>
								                    </select>
								                    
								                    <select ng-switch-when="multiple" id="{{field.name}}" ng-click="editField(field,'control', $event)" ng-model=data[field.name] multiple class="span{{field.size}} {{field.required}}" ux-required="{{field.required}}">
								                        <option ng-repeat="option in field.options" value="{{option.value}}" id="{{field.name}}">{{option.description}}</option>
								                    </select>
								                    
								                    <fieldset ng-switch-when="radio" class="span{{field.size}}">
								                         <label ng-repeat="option in field.options" class="span4 radio">
								                            <input type="radio" ng-model="data[field.name]" value="{{option.value}}" id="{{field.name}}" ng-click="editField(field,'control', $event)" >
								                            {{option.description}}
								                        </label>
								                    </fieldset>
								                    <fieldset ng-switch-when="checkboxes" class="span{{field.size}}">
								                        <label ng-repeat="option in field.options">
								                            <input type="checkbox" ng-model="{{option.value}}" value="{{option.value}}" id="{{field.name}}" ng-click="editField(field,'control', $event)">
								                            {{option.description}}
								                        </label>
								                    </fieldset>
								                    
													<input ng-switch-when="button" type="button" ng-click="editField(field,'control', $event)" ng-model="field.value" class="span{{field.size}} btn-primary" value="{{field.label}}" >
											        <input ng-switch-when="search_button" type="button" value="{{field.label}}" class="btn-primary" >
								                    <fieldset ng-switch-when="grouptext">
													 <div class="groupdiv span12" align="center">
													 	<span ng-repeat="subfield in field.controlgroup" >
													 	<ng-switch on="subfield.type">
													 		<input ng-switch-when="text" maxlength="{{subfield.maxlength}}" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
													 		
												 			<input ng-switch-when="mask" maxlength="{{subfield.maxlength}}" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
												 			
												 			<input ng-switch-when="number" maxlength="{{subfield.maxlength}}" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="text" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
												 			
												 			<input ng-switch-when="url" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" type="url" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
												 			
												 			<input ng-switch-when="email" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="email" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
												 			
												 			<input ng-switch-when="phone" placeholder="{{subfield.placeholder}}" id="{{subfield.name}}" maxlength="{{subfield.maxlength}}" type="tel" name="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
												 			
												 			<input ng-switch-when="checkbox" type="checkbox" ng-click="editField(subfield,'subfield', $event)" ng-model=data[subfield.name] value="{{subfield.value}}" class="span{{subfield.size}}" label="{{subfield.instructions}}" id="{{subfield.name}}">
												 			
												 			<input ng-switch-when="autocomplete" type="text" id="{{subfield.name}}" ng-click="editField(subfield,'subfield', $event)" class="span{{subfield.size}} {{subfield.required}}" label="{{subfield.label}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}"  ux-disabled="{{subfield.disabled}}">
												 			
													 		<input  ng-switch-when="button" ng-model=data[field.name] type="button"  class="span{{subfield.size}} btn-primary" value="{{subfield.label}}" ng-click="editField(subfield,'subfield', $event)" />
													 		
								                   			
								                   			<fieldset ng-switch-when="radio" class="span10">
										                         <label ng-repeat="option in subfield.options" class="span4 radio">
										                            <input type="radio" ng-model="data[subfield.name]" class="span4"  value="{{option.value}}" id="{{subfield.name}}" ng-click="editField(subfield,'subfield', $event)" >
										                            {{option.description}}
										                        </label>
										                    </fieldset>
										                    
										                    <textarea ng-switch-when="textarea" maxlength="{{subfield.maxlength}}" ng-click="editField(subfield,'subfield', $event)" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" label="{{subfield.instructions}}" id="{{subfield.name}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}"  ux-disabled="{{subfield.disabled}}"></textarea>
										                    
															<select ng-switch-when="select" class="span{{subfield.size}} {{subfield.required}}" id="{{subfield.name}}" ng-model=data[subfield.name] ux-required="{{subfield.required}}" ng-click="editField(subfield,'subfield', $event)">
								                        		<option ng-repeat="option in subfield.options" value="{{option.value}}">{{option.description}}</option>
								                   			</select>
										                    <select ng-switch-when="multiple" id="{{subfield.name}}" ng-click="editField(subfield,'subfield', $event)" ng-model=data[subfield.name] multiple class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}">
										                        <option ng-repeat="option in subfield.options" value="{{option.value}}" id="{{subfield.name}}">{{option.description}}</option>
										                    </select>
								                   			
								                   			<div ng-switch-when="searchtext" class="span8 input-append">
									                		 	<input type="text" placeholder="{{subfield.placeholder}}" maxlength="{{subfield.maxlength}}" id="{{subfield.name}}" ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}" ng-click="editField(subfield,'subfield', $event)"  ux-disabled="{{subfield.disabled}}" />
													 			
													 			<div id="{{subfield.buttonid}}" class="imgsearch canvasSearchButton" title="{{subfield.title}}"></div>
												 			</div>
												 			<input ng-switch-when="date" type="date" dateFormat="{{field.mask}}"  ux-date-picker ng-model=data[subfield.name] class="span{{subfield.size}} {{subfield.required}}" id="{{subfield.name}}" label="{{subfield.label}}" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}">
							                   				
							                   				<div ng-switch-when="money" >
											                  <input type="text" ng-model=data[subfield.name] id="{{subfield.name}}" label="{{subfield.label}}" placeholder="{{subfield.placeholder}}" ng-click="editField(subfield,'subfield', $event)" class="span{{subfield.size}} {{subfield.required}}" ux-currency="$" ux-required="{{subfield.required}}" ux-regexp="{{subfield.regexp}}"  ux-disabled="{{subfield.disabled}}">
															</div>
																		
								                   			<label ng-switch-when="label" class="span{{subfield.size}}" for="{{subfield.name}}">
											            		<span ng-click="editField(subfield,'subfield', $event)">		             		           	
										                   			 [Label Value]
											             		</span> 
											             	</label>
											             	<label ng-switch-when="literal" class="control-label labelspan" for="{{subfield.name}}">
													            <span ng-click="editField(subfield,'subfield', $event)">		             		           	
												                		 {{subfield.label}} 
													            </span> 
													        </label>
											             	
													 	</ng-switch>
													 	</span>	
													 	</div>
													 </fieldset>
								                </ng-switch>
								                </div>
								
								            </div>
								        	<div ng-switch-when="hidden" class="hidden" hidden-display>
								        		<input name={{field.name}} type="hidden" >
								        	</div>
								        </ng-switch>
								        
			    					
			    					
			    				</div>
			    				</div>
			    			</div>
						</div>
						
					</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-repeat="a in m">
			<div class="section-hidden" style="margin:15px;" ng-repeat="sections in a.section">
				<div class="titlebox"></div>
				<i class="icon-minus" ng-click="collapseHiddenArea()" style="display:none; float:right; cursor:pointer;"></i>
				<div collapse="isCollapsed" class="span9" style="margin:0px;"  ng-repeat="subsections in sections.subsection">
					<div class="span8 unstyled ui-sortable" style="margin:0px;">
						<ng-switch on="subsections.subsectiontitle">
							<div ng-switch-when="hiddenfields">
								<div class="" ng-repeat="field in subsections.element">
								
									<ng-switch on="field.type">
										<div id="hfield" ng-switch-when="hidden" class="span4 selectorField" 
										    style="margin:0px; cursor:pointer; text-align:left;" 
										    ng-click="editHiddenField(field,'control', $event)" 
										    ng-class="{'label-warning': getIsIncomplete(field)}"
										    hiddensection draggable>
											<img id="fieldDelete" src="img/cross.png" ng-click="deleteHiddenField($event)" title="" alt="X" class="hiddenDeleteImg">
											{{field.name}}
							        		<!-- <input name={{field.name}} type="checkbox" checked="true" text="{{field.name}}" ng-click="deleteHiddenField($event)">&nbsp;&nbsp;{{field.name}}</input> -->
							        	</div>
							        	<div id="hfield"  ng-switch-when="text" class="span4 selectorField" style="margin:0px; cursor:pointer; text-align:left;" ng-click="editHiddenField(field,'control', $event)" draggable >
							        		<img id="fieldDelete" src="img/cross.png" ng-click="deleteHiddenField($event)" title="" alt="X" class="hiddenDeleteImg">
							        		<input name={{field.name}} type="text" text="{{field.name}}"  ></input>
							        	</div>
									</ng-switch>
								
								</div>
							</div>
						</ng-switch>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- <ng-include src="previewMetadata"></ng-include> -->
	<div id="canvashintdiv" class="hint_bubble">{{canvashint}}</div>
</div>



