/* login */
.loginDiv {
    min-height: 330px;
    margin: 0px auto;
    border-bottom: 4px solid #d59b20 !important;
    padding: 0px 15px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none;
        float: none;
    
}
#loginModal{
    background: url("../assets/images/OMNI_bg_photo.jpg") !important;
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;

}
.container-center{margin: 0px auto;float: none;}
.border-none {
    border: 0px !important;
    width: 100%;
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
}
.modal-header, .oc-modal-header {
    padding: 15px 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857px;
    text-align: left;
}
.loginVcenter{margin-top: 100px;}

@media only screen and (min-width:768px) and (max-width: 1024px)  {
.loginVcenter{margin-top: 100px;}

}
@media only screen and (max-width:667px) and (max-height:375px)  {
.loginVcenter{margin-top: 10px;width:330px;}

}