@media (min-width: 768px){
.modal-dialog {
    width:768px;
    margin: 30px auto;
}

.RowOffOn{margin: 0px 15px;}
div.RowOffOn > div{padding: 15px 5px;}
div.RowOffOn > div.form-group:nth-child(1) {margin-top: -4px;}

div.RowOffOn > div.form-group:nth-child(odd){background-color: #fff; margin-bottom: 0px}
div.RowOffOn > div.form-group:nth-child(even){background-color: #fff;border-top: 1px #dfdfdf solid;margin-bottom: 0px}
div.RowOffOn > div.form-group:nth-last-child(1) {border-top: 1px #dfdfdf solid;border-bottom: 1px #dfdfdf solid;}
.ModalRowOn{background-color: #fafaf9 !important}
.firstDivBdr{border-top: 1px solid #009ca9 !important;}
.bdrLeft{border-left: 1px solid #ccc !important;}
.bdrRight{border-right: 1px solid #ccc !important;}

.padLft10ps{padding-left: 10%}
.padLft7ps{padding-left: 7%}
.padLft4ps{padding-left: 4%}
.mrgLft4ps{margin-left: 4% !important}
}
.modal-body {
    position: relative;
    padding: 15px;
    height: 400px;
    margin-right: 5px;
    overflow: auto;
}
.modal-body .delete{
    height: 60px !important;
}
.modal-subTitle{padding-left: 0px !important;font-size: 16px !important;}
.mag-btm15px{margin-bottom: 15px !important;}
.mag-btm10px{margin-bottom: 10px !important;}
.div-onl_hrOr_2 {background-color: #dfdfdf;height: 1px;}
.listGrup{
    list-style-type: decimal;
    display: list-item; 
    font-family: "source_sans_probold";
    font-weight: bold;
    list-style-position: inside; 
    margin-top: 6px;
    background-color: transparent; 
    width: 50px;
    clear: left; 
    padding: 0px;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
/* pop-up background color with alpha */
.fade.in {
    opacity: 1;
    background-color: rgba(144,143,143,.2) !important;
}