@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?v34thr');
    src:    url('fonts/icomoon.eot?v34thr#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?v34thr') format('truetype'),
        url('fonts/icomoon.woff?v34thr') format('woff'),
        url('fonts/icomoon.svg?v34thr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-automobile:before {
    content: "\e900";
}
.icon-home3:before {
    content: "\e901";
}
.icon-pencil:before {
    content: "\e902";
}
.icon-copy:before {
    content: "\e903";
}

