<!--CANVAS Main form -->

<div class="span8 theme portlet">
	<form class="form-horizontal" id="canvasMainForm">
		<ul id="mainList" class="unstyled droppedSections ui-sortable" ng-repeat="a in m">
			<h4 class="staticdatabar">{{a.metadata.title}}</h4>
           <h5><center>{{a.metadata.subtitle}}</center></h5>
			<li class="" ng-repeat="group in a.metadata.group" draggable>
				<fieldset class="well theme">
				<div class="row-fluid">
					<ul class="span6 unstyled droppedFields ui-sortable">
					
					<li ng-repeat="field in group.element" style="margin: 0px;" draggable >
    					<ng-switch on="(($index % 2)==0)">
    						<ng-switch ng-switch-when="true">
    					   		<ng-switch on="field.type">
					            <div ng-switch-default class="input {{field.type}} control-group" ng-class="field.required && 'required'">	            
						                <label class="control-label" for="{{field.name}}">	   
						                <ng-switch on="field.type">
							             	<span ng-switch-default >		             		           	
						                   			 {{field.label}}
							             	</span>
							             	<span ng-switch-when="button">
							             	</span>
							             </ng-switch>  
						                </label>
					                <div class="controls">
					                <ng-switch on="field.type">
					                    <input ng-switch-default type="{{field.type}}"
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.name}}" label="{{field.label}}" ng-click="editField(field)" properties>
					
					                    <input ng-switch-when="text" type="text"
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
										
										<input ng-switch-when="number" type="text" 
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
					
										<input ng-switch-when="button" type="button"
					                        ng-model="field.value" ng-click="SendReq(data)" ng-bind-attr="{required:'{{field.required}}'}" class="btn btn-small btn-primary" value="{{field.label}}" label="{{field.label}}" ng-click="editField(field)" properties>
					
					                    <input ng-switch-when="date" type="date" ui-date 
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
					
										<div ng-switch-when="money" class="input-prepend">
										  <span class="add-on">$</span>
						                  <input type="text" ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}" 
										  	     label="{{field.label}}" ng-click="editField(field)" properties>
										</div>
					
					                    <input ng-switch-when="checkbox" type="checkbox"
					                        ng-model=data[field.name] value="{{field.value}}" class="span4" id="field" label="{{field.instructions}}" ng-click="editField(field)" properties>
					                        
					                    <textarea ng-switch-when="textarea"
					                        ng-model=data[field.name] class="span11" label="{{field.instructions}}" ng-click="editField(field)" properties>{{field.value}}</textarea>
					                        
					                    <select ng-switch-when="select"
					                        ng-model=data[field.name] class="span11" ng-click="editField(field)" properties>
					                        <option ng-repeat="option in field.options" value="{{option.value}}" >{{option.name}}</option>
					                    </select>
					                    
					                    <select ng-switch-when="multiple"
					                        ng-model=data[field.name] multiple class="span11" ng-click="editField(field)" properties>
					                        <option ng-repeat="option in field.options" value="{{option.value}}" >{{option.name}}</option>
					                    </select>
					                    
					                    <fieldset ng-switch-when="radio" class="span12">
					                         <label ng-repeat="option in field.options" class="span6 radio">
					                            <input type="radio" ng-model=data[field.name]  value="{{option.value}}" ng-click="editField(field)" properties >
					                            {{option.name}}
					                        </label>
					                    </fieldset>
					                    <fieldset ng-switch-when="checkboxes">
					                        <label ng-repeat="option in field.options">
					                            <input type="checkbox" ng-model="field.value[tokenize(option.name)]" value="{{option.value}}" ng-click="editField(field)" properties>
					                            {{option.name}}
					                        </label>
					                    </fieldset>
					                    
					                </ng-switch>
					                </div>
					
					            </div>
					        </ng-switch>
    						</ng-switch>
    					</ng-switch>
    				</li>
    				</ul>
    				<ul class="span6 unstyled droppedFields ui-sortable">
					
					<li ng-repeat="field in group.element" style="margin: 0px;" draggable >
    					<ng-switch on="(($index % 2)!=0)">
    						<ng-switch ng-switch-when="true">
    						<ng-switch on="field.type">
					            <div ng-switch-default class="input {{field.type}} control-group" ng-class="field.required && 'required'">	            
						                <label class="control-label" for="{{field.name}}">	   
						                <ng-switch on="field.type">
							             	<span ng-switch-default >		             		           	
						                   			 {{field.label}}
							             	</span>
							             	<span ng-switch-when="button">
							             	</span>
							             </ng-switch>  
						                </label>
					                <div class="controls">
					                <ng-switch on="field.type">
					                    <input ng-switch-default type="{{field.type}}"
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.name}}" label="{{field.label}}" ng-click="editField(field)" properties>
					
					                    <input ng-switch-when="text" type="text"
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
										
										<input ng-switch-when="number" type="text" 
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
					
										<input ng-switch-when="button" type="button"
					                        ng-model="field.value" ng-click="SendReq(data)" ng-bind-attr="{required:'{{field.required}}'}" class="btn btn-small btn-primary" value="{{field.label}}" label="{{field.label}}" ng-click="editField(field)" properties>
					
					                    <input ng-switch-when="date" type="date" ui-date 
					                        ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}"  label="{{field.label}}" ng-click="editField(field)" properties>
					
										<div ng-switch-when="money" class="input-prepend">
										  <span class="add-on">$</span>
						                  <input type="text" ng-model=data[field.name] class="span11" ng-bind-attr="{required:'{{field.required}}'}" 
										  	     label="{{field.label}}" ng-click="editField(field)" properties>
										</div>
					
					                    <input ng-switch-when="checkbox" type="checkbox"
					                        ng-model=data[field.name] value="{{field.value}}" class="span4" id="field" label="{{field.instructions}}" ng-click="editField(field)" properties>
					                        
					                    <textarea ng-switch-when="textarea"
					                        ng-model=data[field.name] class="span11" label="{{field.instructions}}" ng-click="editField(field)" properties>{{field.value}}</textarea>
					                        
					                    <select ng-switch-when="select"
					                        ng-model=data[field.name] class="span11" ng-click="editField(field)" properties>
					                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
					                    </select>
					                    
					                    <select ng-switch-when="multiple"
					                        ng-model=data[field.name] multiple class="span11" ng-click="editField(field)" properties>
					                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
					                    </select>
					                    
					                    <fieldset ng-switch-when="radio" class="span12">
					                         <label ng-repeat="option in field.options" class="span6 radio">
					                            <input type="radio" ng-model=data[field.name]  value="{{option.value}}" ng-click="editField(field)" properties >
					                            {{option.name}}
					                        </label>
					                    </fieldset>
					                    <fieldset ng-switch-when="checkboxes">
					                        <label ng-repeat="option in field.options">
					                            <input type="checkbox" ng-model="field.value[tokenize(option.name)]" value="{{option.value}}" ng-click="editField(field)" properties>
					                            {{option.name}}
					                        </label>
					                    </fieldset>
					                    
					                </ng-switch>
					                </div>
					
					            </div>
					        </ng-switch>
    						</ng-switch>
    					</ng-switch>
    				</li>
    				</ul>
    				
    				
    			</div>
				</fieldset>
			</li>
		</ul>

	</form>
</div>
<ng-include src="propertyofControl"></ng-include>
<ng-include src="previewMetadata"></ng-include>

