<div class="modal-body" style="overflow:auto">
	<img src="img/cross.png" ng-click="cancelrev()"
		style="float: right; cursor: pointer; margin-top: -10px;">
	<div id="revisionList">
		<h4>History:</h4>		
		<div class="revisiongridStyle" ng-grid="revisionGridOptions"
			style="overflow: hidden;"></div>
	</div>         
           
      
	
	<div id="jsonDiffResults" style="display: none">	
	 <span class="badge">{{warningmsg}}</span>
	<div class="contentbox" id="instructions">
        <ul>
            <li>Changed portions are displayed in <span class="changed">yellow</span>. Additions are displayed in <span class="added">green</span>. Deletions are displayed in <span class="removed">red</span>.</li>           
        </ul>
    </div>
	<div class="contentbox" id="inputs" style="display:none">
        <textarea style="display:none" id="jsonA"></textarea>
        <textarea style="display:none" id="jsonB"></textarea>       
    </div>
	<div class="contentbox" id="results"></div>
	</div>

</div>
<div class="modal-footer" style="overflow:auto">

	<button id="btnLoadSelected" class="btn btn-default"
		ng-click="loadSelected()">Load Selected Revision</button>
	<button ng-show="gridSelections[0] != null" id="btnCompare" class="btn btn-default"
		ng-click="CompareSelected()">Compare with Current Copy</button>
	<button ng-show="diffOrHist == 'diff'" id="btnGetLatest" class="btn btn-default"
		ng-click="getLatest()" style="display: none">Get Latest
		Revisions</button>
	<button id="btnShowRev" class="btn btn-default"
		ng-click="ShowRevisions()" style="display: none">Show
		Revisions</button>
</div>