<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderController" ng-if="showHeader">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href ng-click="navigate('/dashboard')" >
      <div class="oc-navbar-brand oc-logo" href="#"></div>
    </a>
    <!--
       <span ng-show="regionId=='asia' && screenId!=='dashboard'">
        <span class="bannerFlag malaysia"></span>
        <span class="bannerTitle">CSC Insurance <span class="bannerIcon flaticon-auto"></span></span>
      </span>

       <span ng-show="regionId=='us'&& screenId!=='dashboard'">
        <span class="bannerFlag usa"></span>
        <span class="bannerTitle">CSC Insurance <span class="bannerIcon flaticon-home"></span></span>
      </span>

      <span ng-show="regionId=='eu'&& screenId!=='dashboard' && (screenId=='autocreate' || screenId == 'autosearch')">
        <span class="bannerFlag eu-flag"></span>
        <span class="bannerTitle">CSC Assurance <span class="bannerIcon flaticon-auto"></span></span>
      </span>
      <span ng-show="regionId=='eu'&& screenId!=='dashboard' && (screenId=='quotessearch' || screenId == 'quotescreate')">
        <span class="bannerFlag eu"></span>
        <span class="bannerTitle">CSC Insurance<span class="bannerIcon flaticon-home"></span></span>
      </span> -->

    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right " class="navbar navbar-default navbar-fixed-top" tour-step order="0" title="language" content="Click these button to Select any of the language to view in that language." placement="bottom">
        <li class="language"><a href ng-click="setLocate('es-us')" ng-class="(newlocale === 'es-us') ? 'languageActive' : ''">{{locale["_SPANISH"]}}</a>


        </li>
        <li class="language"><a href  ng-click="setLocate('en-gb')" ng-class="(newlocale === 'en-gb') ? 'languageActive' : ''">{{locale["_ENGLISH"]}}</a></li>
        <li class="language"><a href ng-click="setLocate('fr-fr')" ng-class="(newlocale === 'fr-fr') ? 'languageActive' : ''">{{locale["_FRENCH"]}}</a></li>
        <li ng-show="isAuthSuccess" class="broker"><span>{{user.name}}</span> 
        <li ng-show="isAuthSuccess" class="logout"><a href ng-click="logout();" >{{locale["_LOGOUT"]}}</a></li>
      </ul>

      <div>
      <ul class="nav navbar-nav navbar-right" style="clear:right" id="mainMenu" class="navbar navbar-default navbar-fixed-top" tour-step order="0" title="Home" content="Click this button to redirect to the home page." placement="left" >      
      <li  ng-class="(screenId === 'dashboard') ? 'homeactive' : ''"><a ng-show="isAuthSuccess" href ng-click="navigate('/dashboard')" >{{locale["_HOME"]}}</a>
           <a ng-hide="isAuthSuccess" class="homeactive" href ng-click="navigate('/')" >{{locale["_HOME"]}}</a>
          
      </li>
        <li class="dropdown" ng-repeat="application in headermetadata.sections" ng-class="(screenId === 'dashboard') ? '' : 'homeactive'" ng-show="isAuthSuccess">
         <a id="{{application.label}}" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 0px;" role="button" aria-expanded="false">
           {{locale[application.label]}} 
           <span class="caret" ng-if="application.elements && application.elements.length > 0">
           </span>
         </a>
         <ul class="dropdown-menu right-links" role="menu" ng-if="application.elements && application.elements.length > 0">
           <li ng-repeat="element in application.elements">
            <a ng-click="navigate(element.actionurl, config.products[element.name]);" href>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              {{locale[element.label]}}
            </a>
           </li>


         </ul>
       </div>  
       </div>
     </div>
   </nav>
