<div class="tabbable boxed parentTabs" ng-if="metamodel[screenId].category=='tabs'">

	<h3 class="sectionlabel" id="label_{{metamodel[screenId].name}}" ng-if="metamodel[screenId].hidetitle !== true">
    <span class="flaticon-hexagon"></span>
    <span class="{{metamodel[screenId].icon}} icon-color"></span>
    <span class="tabTitle">{{locale[metamodel[screenId].title]}}</span>
  </h3>
    <div class="hr_margin">
        <hr class="onl_hrOr_1" ng-if="metamodel[screenId].title && metamodel[screenId].hidetitle !== true">
        <hr class="onl_hrOr_2" ng-if="metamodel[screenId].title && metamodel[screenId].hidetitle !== true">
    </div> 
    <div class="responsive-tabs">
    <div class="desktop">

	<ul class="nav nav-tabs">
		<li ng-class="(field.step==step) ? 'active' : ''" quick-ng-repeat="field in metamodel[screenId].sections" quick-repeat-list="field in metamodel[screenId].sections" >
      <span class="tab-icon flaticon-incomplete"></span>
      <span class="tab-icon flaticon-complete"></span>
			<a  ng-show="field.renderAsTab" ng-click="selecttab(field.step, field.link)" ><div  ng-if="field.order" tour-step backdrop="true" order="{{field.order}}" title="{{(locale[field.title]?locale[field.title] : field.title)}}" content="{{(locale[field.tourcontent]?locale[field.tourcontent] : field.tourcontent)}}" placement="{{field.position}}" autoscroll="true"></div>{{(locale[field.name]?locale[field.name] : field.name)}} </a>
			
		</li>

   
</ul>


</div>
 
        <div ng-class="(field.step==step) ? 'active' : ''" quick-ng-repeat="field in metamodel[screenId].sections" quick-repeat-list="field in metamodel[screenId].sections">
            <div class="mobile">
               <a  ng-show="field.renderAsTab" ng-click="selecttab(field.step, field.link)" ><div  ng-if="field.order" tour-step backdrop="true" order="{{field.order}}" title="{{(locale[field.title]?locale[field.title] : field.title)}}" content="{{(locale[field.tourcontent]?locale[field.tourcontent] : field.tourcontent)}}" placement="{{field.position}}" autoscroll="true"></div>{{(locale[field.name]?locale[field.name] : field.name)}} </a>
      
            
            <div ng-show="field.step==step" class="tabs-content">
                <div quick-ng-repeat="section in metamodel[screenId].sections"  quick-repeat-list="metamodel[screenId].sections">

           
            <div ng-if="section.$ref !== ''" ng-init="screenId=section.$ref" ng-show="section.step == step">
                <div ng-repeat="section in metamodel[screenId].sections" ng-include="'sectionRenderer.html'" >
                </div>
            </div>
            
            <div ng-if="section.$ref === undefined || section.$ref === ''">
                <div ng-include="'sectionRenderer.html'">
                </div>
            </div>
        </div>
        
            </div>
            </div>
        </div>


</div>
</div>