<div class="tabbable boxed parentTabs" ng-if="metamodel[screenId].category=='tabs'">

	<h3 class="sectionlabel" id="label_{{metamodel[screenId].name}}" ng-if="metamodel[screenId].hidetitle !== true">
    <span class="flaticon-hexagon"></span>
    <span class="{{metamodel[screenId].icon}} icon-color"></span>
    <span class="tabTitle">{{locale[metamodel[screenId].title]}}</span>
  </h3>
    <div class="hr_margin">
        <hr class="onl_hrOr_1" ng-if="metamodel[screenId].title && metamodel[screenId].hidetitle !== true">
        <hr class="onl_hrOr_2" ng-if="metamodel[screenId].title && metamodel[screenId].hidetitle !== true">
    </div> 
	<ul class="nav nav-tabs">
		<li ng-class="(field.step==step) ? 'active' : ''" quick-ng-repeat="field in metamodel[screenId].sections" quick-repeat-list="field in metamodel[screenId].sections" >
      <span class="tab-icon flaticon-incomplete"></span>
      <span class="tab-icon flaticon-complete"></span>
			<a  ng-show="field.renderAsTab" ng-click="selecttab(field.step, field.link)">{{(locale[field.name]?locale[field.name] : field.name)}}</a>
			<div ng-if="field.type=='tourstep'">
			<div  class="col-md-{{field.columnsize}}" style="text-align: center;" >
                <div  tour-step backdrop="true" order="{{field.order}}" title="{{(locale[field.title]?locale[field.title] : field.title)}}" content="{{(locale[field.tourcontent]?locale[field.tourcontent] : field.tourcontent)}}" placement="{{field.position}}" autoscroll="true"></div>

                </div>
                </div>

		</li>
</ul>

<!-- <ul class="nav nav-tabs responsive" id="myTab">
  <li><a href="#home">Home <span class="glyphicon glyphicon-ok"></a></li>
  <li class="active panActive">
  	<a href="#profile">Profile <span class="glyphicon glyphicon-minus"></span></a> 
  	
  </li>
  <li><a href="#messages">Messages <span class="glyphicon glyphicon-ok"></a></li>
</ul>

<div class="tab-content responsive">
  <div class="tab-pane" id="home">...content...</div>
  <div class="tab-pane active" id="profile">...content...</div>
  <div class="tab-pane" id="messages">...content...</div>
</div>

<script type="text/javascript">
  (function($) {
      fakewaffle.responsiveTabs(['xs', 'sm']);
  })(jQuery);
</script> -->
</div>