<div ng-include src="config.templates.mainTabsTemplate"></div>
<form class="form-horizontal" id="{{metadata[screenId].formid}}" ng-submit="save(data)" novalidate>
    <div>
        <!-- Work flow Section -->
        <div class="form-group wizardMargin" ng-repeat="workflowGrp in metadata[screenId].workflowGrp">
            <div ng-include src="config.templates.workflow"></div>
        </div>
        <div class="spacer"></div>
        <!-- top button group section -->
        <div class="form-group wizardMargin marginbottom0px" ng-repeat="section in metadata[screenId].buttonGrp">
            <div ng-include src="config.templates.buttongroup"></div>
        </div>
        
        <div quick-ng-repeat="section in metadata[screenId].sections" quick-repeat-list="metadata[screenId].sections">

            <div ng-if="section.$ref !== ''" ng-init="screenId=section.$ref" ng-show="section.step == step">
                <div ng-repeat="section in metadata[screenId].sections" ng-include="'sectionRenderer.html'"  class="container-fluid">
                </div>
            </div>
            <div ng-if="section.$ref === undefined || section.$ref === ''">
                <div ng-include="'sectionRenderer.html'">
                </div>
            </div>
        </div>
        <!-- bottom button group section -->
        <div class="form-group wizardMargin" ng-repeat="section in metadata[screenId].buttonGrp">
            <div ng-include src="config.templates.buttongroup"></div>
        </div>
    </div>


</form>
<script type="text/ng-template" id="sectionRenderer.html">
    <!-- Header section -->
    <div class="form-group marginbottom0px">
        <div ng-include src="config.templates.header"></div>
    </div>
<h3 class="sectionlabel" id="label_{{section.name}}" ng-if="section.hidetitle !== true">{{locale[section.title]}}</h3>
    <div class="hr_margin"><hr class="onl_hrOr_1" ng-if="section.title && section.hidetitle !== true"><hr class="onl_hrOr_2" ng-if="section.title && section.hidetitle !== true"></div> 

    <div ng-if="section.modaledit !== true" class="{{section.heightClass}}">
        <div ng-include src="'nonaccordionsection.html'"></div>
    </div>
    <div ng-if="section.showButton === true">
        <button data-toggle="modal" data-target="#modalquote{{section.name}}" ng-click="addEmptySection(section, $event)" ng-style="{'height': section.height, 'width': section.width}" 
            class=" {{section.txtCenter}} {{section.icon}}">{{locale[section.label]}}
        </button>
    </div>
    <div id="subsectionId" class="subsectiondiv">
        <div ng-repeat="subsections in section.comment">
            <div ng-include src="config.templates.layout"></div>
        </div>
    </div>
    <div ng-if="!section.groupedAction" class="oc-modal fade" id="modalquote{{section.name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="oc-modal-dialog">
            <div class="oc-modal-content {{section.division}}">
                <div class="oc-modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                  
                </div>
                <div class="oc-modal-body">
                    <div ng-include src="'nonaccordionsection.html'"></div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nonaccordionsection.html">
    <ng-switch on="section.category">
        <div ng-switch-when="nonaccordion">
            <div quick-ng-repeat="subsection in section.sections" quick-repeat-list="subsection in section.sections" ng-show="subsection.visible">
                <ng-switch on="subsection.category">

                    <div ng-switch-when="nonaccordion" class="form-group marginbottom0px col-md-{{subsection.columnsize}}">
                        <div quick-ng-repeat="field in subsection.elements" quick-repeat-list="subsection.elements" class="col-md-{{field.columnsize}}" ng-show="checkvisible(field)">
                            <div ng-if="field.$ref !== ''">
                                <div quick-ng-repeat="field in metadata[field.$ref].sections[0].elements" quick-repeat-list="field in metadata[field.$ref].sections[0].elements">
                                    <div ng-include src="config.templates.layout"></div>
                                </div>
                            </div>
                            <div ng-if="field.$ref === undefined || field.$ref === ''">
                                <div ng-include src="config.templates.layout"></div>
                            </div>
                        </div>
                    </div>
                   
                </ng-switch>
            </div>

            <div class="form-group marginbottom0px col-md-{{section.columnsize}}">
                <div quick-ng-repeat="field in section.elements" quick-repeat-list="field in section.elements" ng-show="checkvisible(field)">
                    <div ng-if="field.$ref !== ''">
                        <div quick-ng-repeat="field in metadata[field.$ref].sections[0].elements" quick-repeat-list="field in metadata[field.$ref].sections[0].elements">
                            <div ng-include src="config.templates.layout"></div>
                        </div>
                    </div>
                    <div ng-if="field.$ref === undefined || field.$ref === ''">
                        <div ng-include src="config.templates.layout"></div>
                    </div>
                </div>
            </div>

            <!-- <div ng-include src="config.templates.layout"></div> -->
        </div>

        <div ng-switch-when="accordion">
            <div ng-include src="config.templates.accordionlayout"></div>
        </div>
        <div ng-switch-when="modal">
            <div id = {{section.name}} class="form-group marginbottom0px col-md-{{section.columnsize}} oc-modal oc-show">
                <div class="oc-modal-dialog">
                    <div class="oc-modal-content {{section.division}}">
                        <div class="oc-modal-header border-none">
                            <div ng-if="section.logodir == true" class="oc-logo" style="margin-left: auto;margin-right: auto;"></div>
                            <h3 class="text-left">{{locale[section.title]}}</h3>
                            <hr class="onl_hrOr_1"><hr class="onl_hrOr_2">
                        </div>

                        <div class="modal-body">
                                <div quick-ng-repeat="field in section.elements" quick-repeat-list="field in section.elements" ng-show="checkvisible(field)">
                                    <div ng-if="field.$ref !== ''">
                                        <div quick-ng-repeat="field in metadata[field.$ref].sections[0].elements" quick-repeat-list="field in metadata[field.$ref].sections[0].elements">
                                            <div ng-include src="config.templates.layout"></div>
                                        </div>
                                    </div>
                                    <div ng-if="field.$ref === undefined || field.$ref === ''">
                                        <div ng-include src="config.templates.layout"></div>
                                    </div>
                                </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </ng-switch>
    <div id="subsectionId" class="subsectiondiv">
        <!-- Non Accordion Sections-->
        <div ng-repeat="subsections in section.comment">
            <div ng-include src="config.templates.layout"></div>
        </div>
    </div>
</script>
