<div>
    <div class="col-md-12">
<div name="table-header" class="row">
    <label class="pull-left">{{locale["_RESULTS"]}} :{{stTableList.length}}</label>
    <!-- <label class="pull-right"><a class="source_sans-bold" ng-click="navigate(field.tableMetaData.actionurl, field.tableMetaData.name);">
-    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{{locale["_ADVANCED_SEARCH"]}} </a></label> -->
</div>
</div>
<div name="table" id="no-more-tables">
    <table st-safe-src="stTableList" st-table="displayed" class="col-md-12 table-bordered table-striped table-condensed cf">
    <thead class="cf">
        <tr>
            <th ng-attr-style="width:{{columns.width}};text-align:{{columns.align}}; "  ng-repeat="columns in field.tableMetaData.element | filter:visible=true">{{locale[columns.displayName]}}</th>
        </tr>
        <tr ng-show="field.tableMetaData.searching">
            <th colspan="{{(field.tableMetaData.element | filter:visible=true).length}}">
                <input ng-model="searchText" class="form-control" placeholder={{locale["_FILTER_RESULTS"]}} type="search" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-hide="showResult">
            <td colspan="5"><span>{{locale["_Quote_data_not _found"]}}.</span></td>
        </tr>
        <tr ng-repeat="row in displayed | filter:searchText" ng-show="showResult">

            <td ng-attr-style="width:{{column.width}}; text-align:{{column.align}};" data-title="{{locale[column.displayName]}}" ng-repeat="column in field.tableMetaData.element">
                <ng-switch on="column.type">
                    <!-- Label -->
                    <span ng-switch-when="label">{{row.summary[column.quoteField]}} {{row.summary[column.contractField]}}</span>
                    
                    <!-- Icon -->
                    <span ng-switch-when="icon" class="list_icon"><span class="{{field.tableMetaData.iconList[row.summary['quote:product_id']]}} {{field.tableMetaData.iconList[row.summary['contract:product_identifier']]}}"></span></span>
                    
                    <!-- Process Label -->
                    <span ng-switch-when="process_label" process-label text="{{row[column.quoteField]}}{{row[column.contractField]}}"></span>
                    
                    <!-- Date -->
                    <span ng-switch-when="date">{{row.summary[column.quoteField] | date: config.displayDate }} {{row.summary[column.contractField] | date: config.displayDate }}</span>
                    <!--span ng-switch-when="date">{{config.displayDate}}</span-->
                    
                    <!-- Link  -->
                    <span ng-switch-when="linklabel">
                        <ng-switch on="column.action">
                            <span ng-switch-when="Edit">
                                <a style="cursor:pointer;" ng-click="editItem(row, field.tableMetaData.id);">{{column.action}}</a>      
                            </span>
                        <span ng-switch-when="Delete">
                                <a style="cursor:pointer;" ng-click="deleteItem(row, field.tableMetaData.id);">{{column.action}}</a>        
                            </span>
                        </ng-switch>
                    </span>
                    
                    <!-- Multiple Options -->
                    <span ng-switch-when="dropdown">
                        <span ng-repeat="option in column.options">
                            <a title="{{locale[option.title]}}" ng-show="checkShow(option)">
                                <span class="{{option.icon}} actionIcon tableicons" ng-click="doActionItem(option.value, row, field.name, option.actionurl);"><span class="iconText">{{locale[option.description]}}</span></span>
                        </a>
                        </span>
                    </span>

                </ng-switch>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="16" class="text-center" style="text-align: center;padding-left:0px">
                <div st-items-by-page="5" st-pagination="" st-template="ocInfra/templates/stpaging.html">
                </div>
            </td>
        </tr>
    </tfoot>
</table>
</div>
</div>
