<span class="form-group" 
	  ng-show="field.isVisible()">
	
	<label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="no-padding control-label col-xs-{{field.inputColspan.xs.label}} col-sm-{{field.inputColspan.sm.label}} col-md-{{field.inputColspan.md.label}} col-lg-{{field.inputColspan.lg.label}} col-xs-offset-{{field.inputOffset.xs}} col-sm-offset-{{field.inputOffset.sm}} col-md-offset-{{field.inputOffset.md}} col-lg-offset-{{field.inputOffset.lg}}  {{field.class}}" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>

	<span ng-if="field.help" class="infra-popup-container">
		 <i data-toggle="modal" data-target="#modal_{{field.help.title}}" ng-click="execute(field.help)" class="flaticon-help"> 
		 </i>
		<popup-render ui-id="modal_{{field.help.title}}" metamodel="field.help.metamodel" factory-name="factoryName"></popup-render>
	</span>
	
	<span ng-class="field.class  ? field.class : ''" class="no-padding col-xs-{{field.inputColspan.xs.input}} col-sm-{{field.inputColspan.sm.input}} col-md-{{field.inputColspan.md.input}} col-lg-{{field.inputColspan.lg.input}}">
		<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="baseUrl + 'help-tooltip-display.html'"></div>
		<div ng-if="!(field.inputUnit)">
			<input 	type="{{field.format}}"
				class="form-control"
				autocomplete="off"
				id="{{field.id}}"
				name="{{field.name}}"
				placeholder="{{field.placeholder | translate}}"
				maxlength="{{field.attributes.maxlength}}"
				
				oc-custom-directive
				ng-model="field.property.value"
				ng-required="field.property.required"
				ng-disabled="!field.editable" 
				ng-change="field.onChange()"
				ng-blur="field.onBlur()"
				autocapitalize="off"
				capitalize="{{field.attributes.capitalize}}" 
				consistent="{{field.property.consistent}}"/>
		</div>

		<div class="input-group" ng-if="field.inputUnit">
			<span class="input-group-addon unit-control">
					<span class="{{getUnit()}}"></span>
				</span>
				
			<input 	type="{{field.format}}"
				class="input-text-control form-control"
				autocomplete="off"
				id="{{field.id}}"
				name="{{field.name}}"
				placeholder="{{field.placeholder | translate}}"
				maxlength="{{field.attributes.maxlength}}"
				
				ng-model="field.property.value"
				ng-required="field.property.required"
				ng-disabled="!field.editable" 
				ng-change="field.onChange()"
				ng-blur="field.onBlur()"
				oc-custom-directive
				capitalize="{{field.attributes.capitalize}}" 
				consistent="{{field.property.consistent}}"/>
				
		</div>
		<div ng-include="baseUrl + 'backend-error-display.html'"></div>
	</span>
</span>