<span class="form-group" 
	  ng-show="field.isVisible()">
	
	<label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="no-padding control-label col-xs-{{field.inputColspan.xs.label}} col-sm-{{field.inputColspan.sm.label}} col-md-{{field.inputColspan.md.label}} col-lg-{{field.inputColspan.lg.label}} col-xs-offset-{{field.inputOffset.xs}} col-sm-inputOffset-{{field.inputOffset.sm}} col-md-offset-{{field.inputOffset.md}} col-lg-offset-{{field.inputOffset.lg}}  {{field.class}}" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>

	<label class="no-padding col-xs-{{field.inputColspan.xs.input}} col-sm-{{field.inputColspan.sm.input}} col-md-{{field.inputColspan.md.input}} col-lg-{{field.inputColspan.lg.input}}  {{field.class}}">
		<span ng-class="field.class ? field.class : ''">
			<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="baseUrl + 'help-tooltip-display.html'"></div>
			<ng-switch on="property.metainfo.format">
 		        <span ng-switch-when="date">
					{{ field.property.value | date:field.format }}<i ng-if="field.icon" class="fa fa-{{field.icon}}"></i>
				</span>
				<span ng-switch-default>
					<i ng-if="field.icon" class="glyphicon glyphicon-{{field.icon}}"></i> {{field.property.value}}
				</span>
			</ng-switch>
		</span>
	</label>
</span>