<span class="form-group">
    <label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="control-label col-md-6 col-sm-4 col-xs-12" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>
    <span class="col-xs-12" ng-class="(!field.label && field.property.required) ? 'col-sm-12 required-star' : (field.label ?'col-sm-8' : '')">
        <div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="baseUrl + 'help-tooltip-display.html'"></div>
        <label  class="btn btn-default col-xs-6"
                name="{{field.name}}"

                ng-model="field.property.value"
                ng-required="field.property.required"
                ng-disabled="!field.property.editable"
                ng-change="field.onChange()"

                uib-btn-radio="false">
            <span>{{field.attributes.false_label | translate}}</span>
        </label>

        <label  class="btn btn-default col-xs-6"
                name="{{field.name}}"
                
                ng-model="field.property.value"
                ng-required="field.property.required"
                ng-disabled="!field.property.editable"
                ng-change="field.onChange()"

                uib-btn-radio="true" >
            <span>{{field.attributes.true_label | translate}}</span>
        </label>
            
        <div ng-include="baseUrl + 'backend-error-display.html'"></div>
    </span>
</span>

<!--
    TODO: init labels in directive controller defaults
-->