<span class="form-group" 
	  ng-show="field.isVisible()">
	
	<label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="control-label col-sm-{{field.labelsize}} col-xs-12" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>

	<span ng-class="field.label ? 'col-sm-'+(12-field.labelsize): ''" class="col-xs-12">
		<span ng-class="field.class ? field.class : ''">
			<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="'src/ocInfra/templates/components/help-tooltip-display.html'"></div>
			<ng-switch on="property.metainfo.format">
 		        <span ng-switch-when="date">
					{{ field.property.value | date:field.format }}<i ng-if="field.icon" class="fa fa-{{field.icon}}"></i>
				</span>
				<span ng-switch-default>
					{{ field.property.value }}<i ng-if="field.icon" class="fa fa-{{field.icon}}"></i>
				</span>
			</ng-switch>
		</span>
	</span>
</span>