<span class="form-group" 
	  ng-show="field.isVisible()">

	<label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="control-label col-xs-{{field.colspan.xs.label}} col-sm-{{field.colspan.sm.label}} col-md-{{field.colspan.md.label}} col-lg-{{field.colspan.lg.label}} col-xs-offset-{{field.offset.xs}} col-sm-offset-{{field.offset.sm}} col-md-offset-{{field.offset.md}} col-lg-offset-{{field.offset.lg}}" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>

	<span ng-class="(!field.label && field.property.required) ? 'required-star' : ''" class="col-xs-{{field.colspan.xs.input}} col-sm-{{field.colspan.sm.input}} col-md-{{field.colspan.md.input}} col-lg-{{field.colspan.lg.input}}">

		<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="baseUrl + 'help-tooltip-display.html'"></div>
		<input 	type="email"
				class="form-control"
				autocomplete="off"
				id="{{field.id}}"
				name="{{field.name}}"
				placeholder="{{field.placeholder | translate}}"
				maxlength="{{field.attributes.maxlength}}"

				ng-model="field.property.value"
				ng-required="field.property.required"
				ng-disabled="!field.property.editable"
				ng-change="field.onChange()"
				ng-blur="field.onBlur()" />
		
		<div ng-include="baseUrl + 'backend-error-display.html'"></div>
	</span>
</span>