
	<span class="form-group" 
		  ng-show="field.isVisible()">

		<span ng-class="(field.property.required) ? 'required-star' : ''" class="no-padding col-xs-{{field.inputColspan.xs.input}} col-sm-{{field.inputColspan.sm.input}} col-md-{{field.inputColspan.md.input}} col-lg-{{field.inputColspan.lg.input}}">
			<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="'src/ocInfra/templates/components/help-tooltip-display.html'"></div>

				<div ng-repeat="option in field.attributes.enum track by $index">
					<div class="radio pad-left15 padtop3px">
                        <label>                                  
							<input 	type="radio"
								id="{{option}}"
								name="{{option}}"
							
								ng-model="field.property.value"
								ng-disabled="!field.property.editable"
								ng-change="field.onChange()"
								ng-blur="field.onBlur()" 
								value = "{{option}}" >{{option | translate}}</input>
							 <span class="cr"><i class="cr-icon glyphicon glyphicon-stop"></i></span>	
                        </label>      
                    </div>
					
				</div>
			<div ng-include="baseUrl + 'backend-error-display.html'"></div>
		</span>
	</span>


	