<span class="form-group" 
	  ng-if="field.isVisible()">

	<label ng-if="field.label" for="{{field.name}}" id="{{field.name}}Label" class="control-label col-xs-{{field.inputColspan.xs.label}} col-sm-{{field.inputColspan.sm.label}} col-md-{{field.inputColspan.md.label}} col-lg-{{field.inputColspan.lg.label}} col-xs-offset-{{field.inputOffset.xs}} col-sm-offset-{{field.inputOffset.sm}} col-md-offset-{{field.inputOffset.md}} col-lg-offset-{{field.inputOffset.lg}}" ng-class="field.property.required ? 'required-star' : ''">{{field.label | translate}}</label>

	<span ng-class="(!field.label && field.property.required) ? 'required-star' : ''" class="col-xs-{{field.inputColspan.xs.input}} col-sm-{{field.inputColspan.sm.input}} col-md-{{field.inputColspan.md.input}} col-lg-{{field.inputColspan.lg.input}}">
		<div class="help-tooltip-container" ng-if="field.tooltip && field.tooltip !== ''" ng-include="baseUrl + 'help-tooltip-display.html'"></div>
		<input	type="text"
				class="form-control"
				autocomplete="off"
				id="{{field.id}}"
				name="{{field.name}}"
				placeholder="{{field.placeholder | translate}}"
				maxlength="{{field.attributes.maxlength}}"

				ng-model="field.property.value"
				ng-required="field.property.required"
				ng-disabled="!field.property.editable"
				ng-change="field.onChange()"
				ng-blur="field.onBlur();field.options._typeaheadBlur($event, field)"
				ng-focus="field.options._typeaheadFocus($event, field)"

				uib-typeahead="obj.title for obj in field.options._getData($viewValue, field.id, field)"
				typeahead-on-select="field.options._select($item, field.id, field)"
				typeahead-focus-first="field.attributes['typeahead-focus-first']"
				typeahead-min-length="field.attributes['typeahead-min-length']"
				typeahead-wait-ms="field.attributes['typeahead-wait-ms']"
				
				capitalize="{{field.attributes.capitalize}}"/>
		
		<div ng-include="baseUrl + 'backend-error-display.html'"></div>
	</span>
</span>

<!--
	TODO:
		ng-keydown
		typeahead promise
-->