<div class="no-padding  padding-none col-xs-12">
	<!-- Colspan is controlled in the renderer.html. Here we 'hardcode' a colspan of 12 columns to ensure the table uses all the available width -->
<!--  {{resourcesToBind[column.id].properties[column.subId].properties}} 
<!-- resultset{{resultSet[resourceUrl].properties[listprop].value}} -->
	
	<div id="{{metamodelObject.responsiveclass}}">
		<table st-table="displayedItems" st-safe-src="table.items" class="col-md-12 padding-none table table-striped table-condensed cf {{class.table}}">
			<thead ng-if="metamodelObject.header !== false" class="cf table-header">
				<tr>
					<th ng-repeat="column in metamodelObject.properties" ng-attr-style="text-align : {{column.align}}; width: {{column.width}} ">{{ column.list_header | translate }}</th>
				</tr>
			</thead>

			<tbody >
 
			<tr ng-repeat="displayedItem in resultSet[resourceUrl].properties[listprop].properties">

				<td id="field.uid" ng-repeat="field in metamodelObject.properties" class="table-cell {{field.class}}" ng-attr-style="text-align : {{field.align}}; width: {{field.width}} !important;">				
		               <ng-switch on="field.type">
 						<span ng-switch-when="label" class="table-cell-label">
 							<span   style="display:inline-block;" ng-repeat="fieldId in field.id track by $index" ng-class="(fieldId === ' ') ? 'brLine' : ''">	

 							 <ng-switch on="field.format" >
 						
							 		        <span ng-switch-when="date">
												{{ displayedItem.value[fieldId] | date:field.format }}&nbsp;
											</span>
											<span ng-switch-default>
				 								<span ng-if="field.format" ng-click= "navigate(field.url)" class="{{fieldId}}Link">{{ displayedItem.value[fieldId] | date:field.format | translate }}&nbsp;</span>
				 								<span ng-if="!field.format" 
				 								ng-click= "navigate(field.url)" class="{{fieldId}}Link">{{ displayedItem.value[fieldId] | translate | number : 2}}&nbsp;</span>
			 								</span>
			 				</ng-switch>
			 				<span class="{{fieldId}}class" id="fieldId" ng-if="!displayedItem.value[fieldId]">{{fieldId | translate}}&nbsp;
 								</span>
			 				</span>
		                </span> 

		                 <span ng-switch-when="date">
							{{ displayedItem.value[field.id] | date:field.format }}
						 </span>                             
		                
		            </ng-switch>
		            
				</td>
			</tr>
		</tbody>
		
	</table>

	</div>

	
</div>