<div class="renderer">
	<div ng-repeat="section in metamodelObject.sections track by $index" class="section" ng-class="section.colspan ? 'col-sm-{{section.colspan}}': 'col-sm-12'" ng-switch on="section.type">	
		<div class="oc-modal-header border-none">
		    <div ng-if="section.logodir == true" class="oc-logo" style="margin-left: auto;margin-right: auto;"></div>
        	<h3 class="text-left">{{section.title | translate}}</h3>
        	<hr ng-if="screenId!=='anonymous'"class="onl_hrOr_1"><hr ng-if="screenId!=='anonymous'" class="onl_hrOr_2">
        	<hr ng-if="screenId=='anonymous'" class="onl_hrOr_2" style="width:100%">
    	</div>
	
		<div ng-switch-when="reference" class="linkedRenderer">
			<renderer metamodel="section.$ref"></renderer>
		</div>
		<div ng-switch-default>
			<form>
				<div ng-repeat="row in section.rows" class="row">
					<div ng-repeat="column in row track by $index" class="oc-column col-sm-{{column.colspan}}">
						<div ng-if="column" ng-switch on="column.type">
					      	<div ng-switch-when="table" class="table-responsive">
								<table-render ng-if="resourcesToBind[column.id].items" resource-url="resourcesToBind[column.id].href" metamodel="column.metamodel" factory-name="factoryName"></table-render>
							</div>
							<div ng-switch-when="buttonGroup">
								<div ng-repeat="button in column.buttons">
									<button ng-if="button.label" class="btn btn-primary renderer-button" ng-click="execute(button.action, button.actionURL)">{{ button.label | translate }}</button>
									<i ng-if="button.icon" class="fa fa-2x {{button.icon}} renderer-button" title="{{ button.tooltip | translate }}" ng-click="execute(button.action)"></i><br ng-if="button.underlineText" />
									<span ng-if="button.underlineText">{{button.underlineText}}</span>
								</div>
							</div>
							<div ng-switch-when="iconGroup">
								<div class="col-xs-6 col-md-6" ng-repeat="icon in column.icons">
									<div ng-click="execute(icon.action, icon.actionURL)" class="text-center ">
            							<a ng-click="execute(icon.action, icon.actionURL)" class="thumbnail text-center">
            							<div class="text-center">
              								<span class="{{icon.icon}}"></span>
              								<div class="text-center">{{icon.label | translate}}  <span class="flag {{icon.iconflags}}"></span></div>
            							</div>
            							</a>
          							</div>
								</div>
							</div>
							<div ng-switch-when="popup">
								 <button data-toggle="modal" data-target="#modal_{{column.popup.name}}" ng-click="execute(column.popup.action)" class="btn btn-primary btn-mg"> 
								 	{{ column.popup.label | translate }} 
								 </button>
								<popup-render ui-id="modal_{{column.popup.name}}" metamodel="column.popup.metamodel" resource-url="resourcesToBind[column.popup.id].href" factory-name="factoryName"></popup-render>
							</div>
							<!-- Commented code as a reminder of cases we may need to consider -->
							<!-- <div ng-switch-when="_blank">
							</div>
							<div ng-switch-when="subtitle">
								<h5 class="color-primary">{{column.label | translate}}</h5>
							</div>
							<div ng-switch-when="renderer">
								<div ng-repeat="item in entityToBind[column.id].parent[column.id].items">
									<h5 ng-if="item.title" class="color-primary">{{ item.title }}</h5>
									<renderer entity="item.entity" metadata="column.metadata" ready="true"><renderer/>
								</div>
							</div> -->
							<div ng-switch-when="custom">
								<div ng-include="column.templateUrl"></div>
							</div>
							<div ng-switch-default>
								<div ng-repeat="id in column.id">
									<input-render ng-if="(resourcesToBind.properties && column.uiInput) || isVisible(resourcesToBind.properties[id], column)" id="id" property="resourcesToBind.properties[id]" metamodel="column" update-mode="{{column.updateMode}}" on-update="{{column.onUpdate}}" base-url="{{column.baseUrl}}" resources="resourcesToBind.properties" factory-name="factoryName"></input-render>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>