
<div class="padding-none renderer  renderer-{{activeTab}}"  submitted="{{submitted}}">

	<div id="section-{{section.uid !== undefined ? section.uid : $index}}" ng-repeat="section in metamodelObject.sections track by $index" class="padding-top-15px padding-none section {{section.class}} col-xs-{{section.colspan.xs}} col-sm-{{section.colspan.sm}} col-md-{{section.colspan.md}} col-lg-{{section.colspan.lg}} col-xs-offset-{{section.offset.xs}} col-sm-offset-{{section.offset.sm}} col-md-offset-{{section.offset.md}} col-lg-offset-{{section.offset.lg}}" ng-switch on="section.type" ng-if="section.visible()">

		<h3 ng-if="(section.title || section.logodir)"  class="oc-modal-header border-none section-title-container">
		    <div ng-if="section.logodir == true" class="oc-logo logo-center section-logo"></div>

		    <div class="hr_margin">
			    <ul class="list-ul-accordion">
			    <li ng-if="section.accordion.status">
			    	<div ng-switch="section.accordion.componentType">
			    		<span ng-switch-when="clicking" class="{{section.accordion.componentStyle}}"  ng-click="opened(section)"></span>
			    		<span ng-switch-when="custom"   ng-click="opened(section)">
 		                	<div class="checkbox custom-checkbox">
 		                		<span ng-include="section.accordion.templateUrl"></span>
 		                	</div>
			    		</span>
		                <span ng-switch-default>
		                	<div class="checkbox custom-checkbox">
			                	<label>
			                    	<input type="checkbox" class="checkbox custom-checkbox"
											id="{{section.title}}_checkbox" 
					    					name="{{section.title}}_checkbox"
											ng-checked="getDefaultBehaviourAccordionSection(section)"
					    					ng-click="opened(section)"/>
					    			<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
					    		</label>
					    	</div>
		                </span>
		            </div>
				</li>

			    <li ng-if="section.icon"><span class="flaticon-hexagon section-icon-1"></span></li>

	            <li ng-if="section.icon"><span class="{{section.iconclass}} {{section.icon}} icon-color section-icon-2"></span></li>
	            <li ng-if="!isCustomAccordionSection(section)"><span class="{{section.titleclass}} tabTitle section-title-text">{{ section.title | translate }}</span></li>

	            </ul>
	        </div>

        	<!-- <hr class="onl_hrOr_2 section-title-underline"> -->
        	<div ng-if="!isCustomAccordionSection(section)" class="hr_margin">
                     <hr class="onl_hrOr_1">
                     <hr class="onl_hrOr_2">
            </div>

    	</h3>


    	<div  uib-collapse="section.accordion.collapse">

			<span ng-switch-when="reference" class="linked-renderer-container">
				<renderer metamodel="section.$ref" factory-name="section.factoryName || factoryName" resource-url="resourceUrl" parent-resources="resourcesToBindRef[section.$ref]"></renderer>
			</span>

			<span ng-switch-default ng-class="section.background === true ? 'bg-gray' : '' ">
				<form name="{{metamodelObject.name}}" novalidate>
						<div id="component-{{column.uid !== undefined ? column.uid : $index}}" ng-repeat="column in section.properties track by $index" class="section-row-column padding-none {{column.class}} col-xs-{{column.colspan.xs}} col-sm-{{column.colspan.sm}} col-md-{{column.colspan.md}} col-lg-{{column.colspan.lg}} col-xs-offset-{{column.offset.xs}} col-sm-offset-{{column.offset.sm}} col-md-offset-{{column.offset.md}} col-lg-offset-{{column.offset.lg}}">
							<span ng-if="column" ng-switch on="column.type" class="{{column.type}}">
								<span ng-switch-when="tabs" class="infra-tabs-container">

									<ul class="nav nav-tabs">
										<li id="tab-{{tab.id}}" ng-repeat="tab in column.tabs" ng-class="tab.id === activeTab ? 'active':''">
											<a ng-if="tab.id === activeTab">{{ tab.title | translate }}</a>
											<a ng-if="tab.id !== activeTab" ng-click="execute(tab)">{{ tab.title | translate }}</a>
											<!-- <span ng-show="true" class="tab-icon flaticon-incomplete"> </span>
											<span ng-show="false" class="tab-icon flaticon-complete"></span> -->
										</li>
									</ul>
									<div ng-repeat="tab in column.tabs" ng-if="tab.id === activeTab" ng-class="tab.include ? 'tabs-content' : ''">
										<span ng-if="tab.include" ng-include="tab.include"></span>
										<renderer ng-if="tab.metamodel" class="renderer-in-tab" metamodel="tab.metamodel" factory-name="tab.factoryName" resource-url="resourceUrl"></renderer>
									</div>
								</span>
								<span ng-switch-when="wizards" class="infra-wizards-container">
									<wizard template="ocInfra/templates/components/wizard.html">
										<div ng-repeat="wizard in column.wizards">
                              <wz-step wz-title="{{wizard.title}}" ng-if="wizard.enabled ? canEnabled(wizard.enabled,wizard.id) : true" canenter="enterValidation">
	        									<renderer metamodel="wizard.id" metamodel="wizard.metamodel" factory-name="activeTab+'Factory'"></renderer>
	        									<!-- <input ng-if="wizard.next" type="button" class="btn btn-primary renderer-button" wz-next="execute(wizard)" value="{{ '_NEXT' | translate }}"/ >
	        									<input ng-if="wizard.back" type="button" class="btn btn-primary renderer-button pull-left" wz-previous="execute(wizard)" value="{{ '_PREVIOUS' | translate }}"/ >
	      									 -->
<div class="col-md-12 col-xs-12 padding-none wiz-btn-mrg">
	 <!-- <div ng-if="wizard.back" class="pull-left col-md-6 padding-none" role="group" aria-label="...">
        <button type="button" class="btn btn-info wiz-btn" wz-previous="execute(wizard)">
          <span class="glyphicon glyphicon-chevron-left"></span> 
          <span class="wiz-btn-pad">QUOTE INFO</span>
          <span class="wiz-btn-inner hidden-xs-inline-block">PREV</span>
        </button>
      </div> -->

       <div ng-if="(wizard.back == 'true' || wizard.back == 'false') ? wizard.back : preStep(wizard.back,wizard.id)" class="pull-left text-left padding-none" role="group" aria-label="...">
        <button type="button" class="pull-left btn btn-info wiz-btn wiz-btn-r-pad0" wz-previous="execute(wizard)" ng-init="preStep = preStep(wizard.next,wizard.id)" value="{{ '_PREVIOUS' | translate }}">
        	<span  class="glyphicon glyphicon-chevron-left"></span> 
      		<span class="wiz-btn-pad" ng-if="wizard.back == 'true'" >{{wizard.prevtab | translate}}</span> 
      		 <span class="wiz-btn-pad" ng-if="wizard.back != 'true'">{{preStep | translate}}</span> 
      		<span class="blue wiz-btn-inner" >PREV</span>
          
        </button>
      </div>


      <div ng-if="(wizard.next == 'true' || wizard.next == 'false') ? wizard.next : nextStep(wizard.next,wizard.id)" class="pull-right text-right padding-none" role="group" aria-label="...">
        <button type="button" class="pull-right btn btn-info wiz-btn wiz-btn-l-pad0" wz-next="execute(wizard)" ng-init="nextStep = nextStep(wizard.next,wizard.id)" value="{{ '_NEXT' | translate }}">
          <span class="blue wiz-btn-inner" >NEXT</span>
          <span class="wiz-btn-pad" ng-if="wizard.next == 'true'">{{wizard.nexttab | translate}}</span> 
          <span class="wiz-btn-pad" ng-if="wizard.next != 'true'">{{nextStep | translate}}</span> 
          <span  class="glyphicon glyphicon-chevron-right"></span> 
        </button>
      </div> 
      <input ng-if="wizard.reset" type="button" class="btn btn-primary renderer-button" wz-reset value="{{ '_START_OVER' | translate }}" />
 </div>
	        									
	    									</wz-step>

										</div>
									</wizard>
								</span>
						      	<span ng-switch-when="table" class="table-responsive infra-table-container">
									<table-render ng-if="resourcesToBind[column.id].items" resource-url="resourcesToBind[column.id].href" metamodel="column.metamodel" factory-name="factoryName"></table-render>

								</span>
								
								<span ng-switch-when="list">
               						<list-render ng-if="resourcesToBind[column.id].properties[column.subId].properties" resource-url="resourcesToBind[column.id].href" metamodel="column.metamodel" factory-name="factoryName">
							    	</list-render >
								</span>
								<span ng-switch-when="pdf">
								 	<ng-pdf template-url="ocInfra/templates/components/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
								</span>	
								<span ng-switch-when="anchor"> 
									<span> {{column.label | translate}}
									</span>
		                           <a ng-if="resourcesToBind.properties[column.id].value" href="execute(column)" class="{{column.class}}">{{resourcesToBind.properties[column.id].value}}</a>
                                   <a ng-if="!resourcesToBind.properties[column.id].value" href="{{column.link}}" class="{{column.class}}">{{column.text | translate}}</a>
                                   
								</span>
								<span ng-switch-when="buttonGroup" class="infra-buttons-container">
									<span ng-repeat="button in column.buttons" class="renderer-button-div">
										<button ng-if="(button.label || button.icon) && !(button.type == 'tourButton')" class="{{button.btnclass}}  btn btn-primary renderer-button" ng-click="execute(button)"
										 backdrop="true" order="{{button.order}}" title="{{button.title | translate}}" content="{{button.tourcontent | translate}}" placement="{{button.position}}" autoscroll="true" id="{{button.id}}">
											<span ng-if="button.icon" class="{{button.icon}} renderer-button-icon" title="{{ button.tooltip | translate }}" ng-click="execute(button)"></span>
											<span ng-if="button.label" class="renderer-button-text">{{ button.label | translate }}&nbsp;</span>
										</button>
										<button ng-if="button.type == 'tourButton'" class="btn btn-primary renderer-button" ng-click="tour.restart(true)">
											<span ng-if="button.icon" class=" {{button.btnclass}} {{button.icon}} renderer-button-icon" title="{{ button.tooltip | translate }}" ng-click="tour.restart(true)"></span>
											<span ng-if="button.label" class="renderer-button-text">{{ button.label | translate }}&nbsp;</span>
										</button>
									</span>

								</span>
								<span ng-switch-when="iconGroup" class="infra-icons-container">
								<div ng-if="showIcon">
									<span id="{{icon.uid}}" class="infra-icon no-padding col-xs-{{icon.colspan.xs}} col-sm-{{icon.colspan.sm}} col-md-{{icon.colspan.md}} col-lg-{{icon.colspan.lg}} col-xs-offset-{{icon.offset.xs}} col-sm-offset-{{icon.offset.sm}} col-md-offset-{{icon.offset.md}} col-lg-offset-{{icon.offset.lg}}" ng-repeat="icon in column.icons">
										<div ng-click="execute(icon)" class="text-center ">
	            							<a ng-click="execute(icon)" class="thumbnail text-center">
	            							<div class="text-center">
	              								<span class="{{icon.icon}}"></span>
	              								<div class="text-center">{{ icon.label | translate }}  <span class="flag {{icon.iconflags}}"></span></div>
	            							</div>
	            							</a>
	          							</div>
									</span>
									</div>
									<div ng-if="!showIcon">
 								<div class="col-xs-6 col-md-6" ng-repeat="icon in column.icons">	
 									<div ng-if="icon.showButton">
 										<div ng-click="execute(icon)" class="text-center ">
 	            							<a ng-click="execute(icon)" class="thumbnail text-center">
 	            							<div class="text-center">
 	              								<span class="{{icon.icon}}"></span>
 	              								<div class="text-center">{{ icon.label | translate }}  <span class="flag {{icon.iconflags}}"></span></div>
 	            							</div>
 	            							</a>
 	          							</div>
 	          						</div>
 								</div>
 								</div>
								</span>
								<span ng-switch-when="inslogo">
								<div class="container p-l-r-none">
             <!-- Main component for a primary marketing message or call to action -->
             <div class="jumbotron" ng-style="{'background-image':'url({{column.url}})'}"> 
              <h1>{{column.heading | translate}}</h1>
            </div>
                                </div>
								</span>
								
		<span ng-switch-when="groupicon">
	<div class="container marketing">

      <!-- Three columns of text below the carousel -->
       <div class="row">

        <div  ng-if="showIcon" class=" marketingBox {{icon.clear}} col-xs-{{icon.colspan.xs}} col-sm-{{icon.colspan.sm}} col-md-{{icon.colspan.md}} col-lg-{{icon.colspan.lg}} col-xs-offset-{{icon.offset.xs}} col-sm-offset-{{icon.offset.sm}} col-md-offset-{{icon.offset.md}} col-lg-offset-{{icon.offset.lg}}" ng-repeat="icon in column.icons">
            <div class="box {{icon.class}}" tour-step order="{{icon.order}}" title="{{ icon.title | translate }}" backdrop="true" content="{{ icon.tourcontent | translate }}" placement="{{icon.position}}">


            <div class="circle" ng-click="execute(icon)">
            	<div ng-if="icon.flagicon" class="flagicon">
            		<img class="img-responsive" src="{{icon.flagicon}}">
                </div>
            	<span class="dashBoardIcon {{icon.icon}}"></span>
              </div>
            <h2 class="box-title" ng-click="execute(icon)">{{ icon.label | translate}}</h2>
<!--             <div class="form-inline text-left box-input-margin">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <input type="text" class="form-control box-input" id="exampleInputAmount" placeholder="{{ '_ZIP_CODE' | translate}}">
                </div>
              </div>
              <button type="submit" class="btn btn-defult pull-right box-button">GO</button>
            </div> -->
            <!-- <div class="input-group margin-bottom-20px">
                  <input type="text" class="form-control box-input" aria-describedby="sizing-addon2" placeholder="{{ '_ZIP_CODE' | translate}}">
                  <span class="input-group-addon btnGroup" id="inputEmail">
                    <span class="btn btn-defult pull-right box-button">GO</span>
                  </span>
            </div> -->
           <!--  <p class="hidden-xs">{{ icon.tourcontent | translate}} </p>
            <p class="hidden-xs text-right"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div>

		</div>

		<div  ng-if="!showIcon" ng-show="icon.showButton" class=" marketingBox {{icon.clear}} col-xs-{{icon.colspan.xs}} col-sm-{{icon.colspan.sm}} col-md-{{icon.colspan.md}} col-lg-{{icon.colspan.lg}} col-xs-offset-{{icon.offset.xs}} col-sm-offset-{{icon.offset.sm}} col-md-offset-{{icon.offset.md}} col-lg-offset-{{icon.offset.lg}}" ng-repeat="icon in column.icons">

            <div ng-if="icon.showButton" class="box {{icon.class}}" tour-step order="{{icon.order}}" title="{{ icon.title | translate }}" backdrop="true" content="{{ icon.tourcontent | translate }}" placement="{{icon.position}}">
       
            <div class="circle" ng-click="execute(icon)">
            	<div ng-if="icon.flagicon" class="flagicon">
            		<img class="img-responsive" src="{{icon.flagicon}}">
      </div>
            	<span class="dashBoardIcon {{icon.icon}}"></span>
              </div>
            <h2 class="box-title" ng-click="execute(icon)">{{ icon.label | translate}}</h2>
          </div>

		  </div>

      </div>
            </div>
								</span>
								<span ng-switch-when="popup" class="infra-popup-container">
									 <button data-toggle="modal" data-target="#modal_{{column.popup.name}}" ng-click="execute(column.popup)" class="btn btn-primary btn-mg"> 
									 	{{ column.popup.label | translate }} 
									 </button>
									<popup-render ui-id="modal_{{column.popup.name}}" metamodel="column.popup.metamodel" resource-url="itemSelected[column.popup.name].href" factory-name="factoryName"></popup-render>
								</span>
								<!-- Commented code as a reminder of cases we may need to consider -->
								<!-- <div ng-switch-when="_blank">
								</div>-->
								<span ng-switch-when="subtitle" class="infra-subtitle-container">
									<h5 class="color-primary infra-subtitle-text">{{column.label | translate}}</h5>
								</span>
								<!--<div ng-switch-when="renderer">
									<div ng-repeat="item in entityToBind[column.id].parent[column.id].items">
										<h5 ng-if="item.title" class="color-primary">{{ item.title }}</h5>
										<renderer entity="item.entity" metadata="column.metadata" ready="true"><renderer/>
									</div>
								</div> -->
								<span ng-switch-when="custom" class="infra-custom-container">
									<span ng-include="column.templateUrl"></span>
								</span>
								<span ng-switch-default>
									<span ng-repeat="id in column.id" class="infra-input-container">
										<input-render ng-if="((resourcesToBind.properties && column.uiInput) || isVisible(resourcesToBind.properties[id], column))" id="id" property="resourcesToBind.properties[id]" parent-metamodel = "metamodelObject.name" metamodel="column" update-mode="{{column.updateMode}}" on-update="{{column.onUpdate}}" base-url="{{column.baseUrl}}" resources="resourcesToBind.properties" factory-name="factoryName" resource-url="resourceUrl"></input-render>
									</span>
								</span>
							</span>
						</div>
					</form>
			</span>
		</div>
	</div>
</div>