<div class="no-padding col-xs-12">
	<!-- Colspan is controlled in the renderer.html. Here we 'hardcode' a colspan of 12 columns to ensure the table uses all the available width -->

	<div ng-if="metamodelObject.showResultCount" id="#no-more-tables" name="table-header" class="row col-md-12">
    	<label class="pull-left">{{ '_RESULTS' | translate }} :  {{table.items.length}}</label>
	</div>
	
	<table id="no-more-tables" st-table="displayedItems" st-safe-src="table.items" class="table table-striped table-condensed {{metamodelObject.class}}  cf">
		<thead ng-if="metamodelObject.header !== false" class="cf table-header">
			<tr ng-show="metamodelObject.searching">
				<th colspan="{{metamodelObject.properties.length}}" class="padding-none">
					<input st-search placeholder="{{ '_FILTER_RESULTS' | translate }}" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			<!-- OC-711 Start Added Column Lable Header-->
			<tr>
				<th ng-repeat="column in metamodelObject.properties" ng-attr-style="text-align : {{column.align}}; width: {{column.width}} !important; ">{{ column.label_header | translate }}</th>
			</tr>
			
			<!-- OC-711 End -->

			<tr ng-show="table.items.length==0">
			 
            <td colspan="9" class="greybg"><span>{{ '_Quote_data_not _found' | translate}}.</span></td>
        </tr>
		</thead>
		<tbody ng-repeat="(key, collection) in groupedTable">

			 
			<tr class="table-row-title-group" ng-if="key !== 'infra_default_group_table'">
				<td colspan="{{metamodelObject.properties.length}}">
					<span class="table-title-group">{{key | translate}}</span>
				</td>
			</tr>
			<tr class="table-row-{{key}}-{{$index}}" ng-repeat="displayedItem in displayedItems | infraGroupBy:collection track by $index" ng-if="metamodelObject.testtype">
               <td>
               	<div class="col-md-4">
			         <div class=" table-icon green mar-right-15px" >
			            <span ng-if="displayedItem.properties.symbol.value === 'APV'" class="icon-white flaticon-car"></span>
						<span ng-if="displayedItem.properties.symbol.value === 'HP'" class="icon-white flaticon-home"></span>
			         </div>
			         <a class="policy-text">{{displayedItem.properties.symbol.value}} {{displayedItem.properties.policyNumber.value}}-{{displayedItem.properties.moduleNumber.value}}</a>
			         <div class="mic-info"><a class="text-green policy-status">{{displayedItem.properties.policyStatus.value}}</a></div>
			         <div class="comment-text">[{{displayedItem.properties.effectiveDate.value}}-{{displayedItem.properties.expiryDate.value}}]</div>
			   </div>
		      <div class="col-md-4">
		         <div class="doc-link">
		            <div class="comment-text">{{displayedItem.properties.agentName.value}}</div>
		            <div class="comment-text">{{displayedItem.properties.agentPhone.value}}</div>
		            <div class="comment-text">{{displayedItem.properties.agentAddr.value}}</div>
		         </div>
		      </div>
		      <div class="col-md-4">
		         <span ng-repeat="field in metamodelObject.properties">
		         <span ng-repeat="action in field.options">
		            <ng-switch on="action.value">
						            <span ng-switch-when="edit">
						                <a><i data-toggle="modal" data-target="#modal_{{metamodelObject.name}}" class="action {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon">{{action.title | translate }}</span></i>
						               </a>
						            </span>
						            <span class="icongroup">
						            
						            <span ng-switch-default >
						            	<a ng-show="checkShowItemRow(action, displayedItem)" class="table-icon-small blue mar-right-15px">
						            	<span class="action icon-white-small {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)">

						            		<span ng-if="!action.icon">{{action.title | translate }}</span>
						            	</span>

						            	</a>
						            </span>
						  
						           </span>
				   </ng-switch>		            
		          </span>
		         </span>
		         
		      </div>
               	
               </td>
			</tr>
		</tbody>
		<tfoot ng-if="metamodelObject.pagination" class="table-footer">
			<tr>
				<td colspan="{{metamodelObject.properties.length}}" class="padding-none">
					<div class="pull-right" st-pagination=""  st-items-by-page="5"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="btn-group">
	    <button data-toggle="modal" data-target="#modal_{{metamodelObject.name}}" ng-click="execute(button.action)" class="btn btn-primary btn-mg" ng-disabled="!table.creatable || !button.creatable" ng-repeat="button in buttons">
	    	{{ button.label | translate }}
	    </button>
	</div>

	<popup-render ng-if="modalMetamodelObject" ui-id="modal_{{metamodelObject.name}}" metamodel="metamodelObject.modalRef" resource-url="itemSelected.href" factory-name="factoryName"></popup-render>
</div>