<div class="pagination" ng-if="pages.length >= 1" >
    <nav>
        <ul class="pagination">
            <li><a class="glyphicon glyphicon-fast-backward" getblock="prev">&nbsp;</a></li>
            <li><a ng-click="selectPage(1)">{{ '_FIRST' | translate }}</a></li>
            <li><a ng-click="selectPage(currentPage - 1)">&lt;</a></li>
            <li>
                <a>
                    <page-select></page-select>{{currentPage}} 
                    <span style="text-transform: lowercase;">{{ '_OF_PAGE' | translate }} </span>{{numPages}}
                </a>
            </li>
            <li><a ng-click="selectPage(currentPage + 1)">&gt;</a></li>
            <li><a ng-click="selectPage(numPages)">{{ '_LAST' | translate }}</a></li>
            <li><a class="glyphicon glyphicon-fast-forward"  getblock="next">&nbsp;</a></li>
             
        </ul>
    </nav>
</div>