<div class="no-padding col-xs-12 padding-none">
	<!-- Colspan is controlled in the renderer.html. Here we 'hardcode' a colspan of 12 columns to ensure the table uses all the available width -->

	<div ng-if="metamodelObject.showResultCount" name="table-header" class="row col-md-12">
    	<label class="pull-left">{{ '_RESULTS' | translate }} :  {{table.items.length}}</label>
	</div>
	<div id="no-more-tables">
		<table st-table="displayedItems" st-safe-src="table.items" class="col-md-12 table table-striped table-condensed cf {{metamodelObject.tableclass}}">
			<thead ng-if="metamodelObject.header !== false" class="cf table-header">
				<tr ng-show="metamodelObject.searching" class="searchInput" >
					<th colspan="{{metamodelObject.properties.length}}" class="padding-none">
						<input st-search placeholder="{{ '_FILTER_RESULTS' | translate }}" class="input-sm form-control" type="search"/>
					</th>
				</tr>
				<!-- OC-711 Start Added Column Lable Header-->
				<tr>
					<th ng-repeat="column in metamodelObject.properties" ng-attr-style="text-align : {{column.align}}; width: {{column.width}} ">{{ column.label_header | translate }}</th>
				</tr>
				
				<!-- OC-711 End -->

			<tr ng-if="metamodelObject.showResultCount" ng-show="table.items.length==0">
			 
            <td colspan="9" class="greybg text-center"><span>{{ '_Quote_data_not _found' | translate}}.</span></td>
        </tr>

		</thead>
		<tbody ng-repeat="(key, collection) in groupedTable">

			 
			<tr class="table-row-title-group" ng-if="key !== 'infra_default_group_table'">
				<td colspan="{{metamodelObject.properties.length}}">
					<span class="table-title-group">{{key | translate}}</span>
				</td>
			</tr>
			<tr class="table-row table-row-{{key}}-{{$index}}" ng-class="key !== 'infra_default_group_table' ? 'table-row-grouped' : ''" ng-repeat="displayedItem in displayedItems | infraGroupBy:collection track by $index">

				<td id="field.uid" ng-repeat="field in metamodelObject.properties" class="table-cell {{field.class}}" ng-attr-style="text-align : {{field.align}} !important; width: {{field.width}} !important;">
		               <ng-switch on="field.type">
		               
 						<span ng-switch-when="label" class="table-cell-label">
 							<span ng-repeat="fieldId in field.id track by $index" ng-class="(fieldId === ' ') ? 'brLine' : ''">
 								<span ng-if="displayedItem.properties[fieldId] || field.uiInput" class="{{fieldId}}class">
	 								<!-- OC-1029: input label in table component-->
	 								<span ng-if="field.input">
	 									<input-render id="fieldId" property="displayedItem.properties[fieldId]" metamodel="field" update-mode="{{field.updateMode}}" parent-metamodel="$index + '_' +  metamodelObject.name" on-update="{{field.onUpdate}}" base-url="{{field.baseUrl}}" resources="displayedItem.properties" factory-name="factoryName"></input-render>
	 								</span>
	 								<span ng-if="!field.input">
			 							<ng-switch on="displayedItem.properties[fieldId].metainfo.format">
							 		        <span ng-switch-when="date">
												{{ displayedItem.properties[fieldId].value | date:field.format }}&nbsp;
											</span>
											<span ng-switch-default>
				 								<span ng-if="field.format">{{ displayedItem.properties[fieldId].value | date:field.format | translate }}&nbsp;</span>
				 								<span ng-if="!field.format">{{ displayedItem.properties[fieldId].value | translate }}&nbsp;</span>
			 								</span>
			 							</ng-switch>
			 						</span>
 								</span>
 								<span id="fieldId" ng-if="!displayedItem.properties[fieldId]">{{fieldId | translate}}&nbsp;
 								</span>
 							</span>
		                </span>
		                <span ng-switch-when="literal" class="table-cell-literal">{{ field.id | translate }}</span>
		                <span ng-switch-when="blank" class="table-cell-blank">&nbsp;</span>
		                <span ng-switch-when="status" class="table-cell-status"><i class="{{isValidStatus ? 'fa fa-check-square text-success':'fa fa-minus-square text-danger'}}"></i></span>
		                <span ng-switch-when="icon" class="{{field.iconsbox}}">
		                	<span ng-if="field.icon" class="{{metamodelObject.iconColor}}"></span>	
		                	<span ng-if="!field.icon" class="{{metamodelObject.iconList[displayedItem.properties[field.id].value]}} {{field.iconColor}}"></span>		
		                </span>
		                <span ng-switch-when="actions" class="table-cell-actions">
		                	<span ng-repeat="action in field.options">
		                		<ng-switch on="action.value">
						            <span ng-switch-when="edit">
						                <a ng-if="!action.actionURL">
						                	<i data-toggle="modal" data-target="#{{action.value}}{{metamodelObject.name}}Modal" class="action {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon"> {{metamodelObject.name}} {{action.title | translate }}</span>
						                	</i>
						               </a>
						               <a ng-if="action.actionURL" href="{{action.actionURL}}">
						                	<i class="action {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon"> {{metamodelObject.name}} {{action.title | translate }}</span>
						                	</i>
						               </a>
						            </span>
						            <span ng-switch-when="delete">
						                <a ng-if="!action.actionURL">
						                	<i data-toggle="modal" data-target="#{{action.value}}{{metamodelObject.name}}Modal" class="action {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon">{{action.title | translate }}</span></i>
						               </a>
						                <a ng-if="action.actionURL" href="{{action.actionURL}}">
						                	<i class="action {{action.icon}}" ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon">{{action.title | translate }}</span></i>
						               </a>
						            </span>
						            <span ng-switch-default >
						            	<a class="{{action.crClass}}" ng-show="checkShowItemRow(action, displayedItem)"><i class="action {{action.icon}} " ng-class="action.icon? 'actionIcon':''" ng-click="execute(action, displayedItem)"><span ng-if="!action.icon">{{action.title | translate }}</span></i>
						            	</a>
						            </span>
		                		</ng-switch>
						    </span>
				        </span>
		                <span ng-switch-default class="table-cell-input">
	                		<span ng-repeat="fieldId in field.id track by $index">
	                			<input-render ng-if="(displayedItem.properties[fieldId] || field.uiInput)" id="fieldId" property="displayedItem.properties[fieldId]" metamodel="field" parent-metamodel="$index + '_' + metamodelObject.name" update-mode="{{field.updateMode}}" on-update="{{field.onUpdate}}" base-url="{{field.baseUrl}}" resources="displayedItem.properties" factory-name="factoryName"></input-render>
	                		</span>
		                </span>
		            </ng-switch>
		            
				</td>
			</tr>
		</tbody>
		<tfoot ng-if="metamodelObject.pagination" class="table-footer">
			<tr>
				<td colspan="{{metamodelObject.properties.length}}" class="padding-none">
					<div class="pull-right" st-pagination=""  st-items-by-page="5"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	</div>

	<div class="btn-group" ng-if="buttons.length > 0">
	    <button id="{{metamodelObject.name}}_button_id" data-toggle="modal" data-target="#modal_{{metamodelObject.name}}" ng-click="execute(button.action)" class="btn btn-primary btn-mg" ng-disabled="!table.creatable || !button.creatable" ng-repeat="button in buttons">
	    	{{ button.label | translate }}
	    </button>
	</div>

	<div ng-repeat="modal in metamodelObject.modalPopUps">
		<popup-render ng-if="modal.metamodel" ui-id="{{modal.id}}" metamodel="modal.metamodel" resource-url="itemSelected.href" factory-name="factoryName"></popup-render>
	</div>
</div>