  .frame{
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0
  }
  .view{
    width:auto;
    overflow:hidden
  }
  .view .navbar .navbar-inner .btn-navbar{
    display:block;
    float:right
  }
  .menu.collapse{
    float:right;
    height:100% !important;
  }
  .menu.collapse.height{
    position:relative;
    height:0;
    overflow:hidden;
    -webkit-transition:height .35s ease;
    -moz-transition:height .35s ease;
    -o-transition:height .35s ease;
    transition:height .35s ease
  }
  .menu.collapse.width{
    position:relative;
    width:0;
    overflow: hidden !important;
    -webkit-transition:width .35s ease;
    -moz-transition:width .35s ease;
    -o-transition:width .35s ease;
    transition:width .35s ease
  }
  .menu.collapse.in.width{
    width:auto
  }
  .menu.collapse.in.height{
    height:auto
  }
  .menu .collapse-inner{
    position:relative;
    width:250px;
    height:100%
  }
 
  #menuright{
  	float:right !important;
  } 
  #menuleft{
  	float:left !important;
  }