	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/03/2016 15:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;

}

.flaticon-add-row:before { content: "\f100"; }
.flaticon-alert-msg:before { content: "\f101"; }
.flaticon-attach:before { content: "\f102"; }
.flaticon-backward:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-close:before { content: "\f105"; }
.flaticon-edit:before { content: "\f106"; }
.flaticon-error-msg:before { content: "\f107"; }
.flaticon-forward:before { content: "\f108"; }
.flaticon-home:before { content: "\f109"; }
.flaticon-info-msg:before { content: "\f10a"; }
.flaticon-interface:before { content: "\f10b"; }
.flaticon-interface-1:before { content: "\f10c"; }
.flaticon-locked:before { content: "\f10d"; }
.flaticon-logout:before { content: "\f10e"; }
.flaticon-play:before { content: "\f10f"; }
.flaticon-print:before { content: "\f110"; }
.flaticon-save:before { content: "\f111"; }
.flaticon-search:before { content: "\f112"; }
.flaticon-success-msg:before { content: "\f113"; }
.flaticon-track:before { content: "\f114"; }
.flaticon-trash:before { content: "\f115"; }
.flaticon-unavailable:before { content: "\f116"; }
.flaticon-unlocked:before { content: "\f117"; }