{"swagger":"2.0","info":{"title":"OmniChannel2","description":"OmniChannel2","version":"1.0.0"},"host":"api.csc.com","schemes":["https"],"basePath":"/omnichannel/{sor}/quote","paths":{"/quotes":{"options":{"responses":{"200":{"description":"Success"}}},"post":{"responses":{"201":{"description":"Created"}}},"get":{"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"delete":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Deleted"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/available_documents":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/available_documents/{documentId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"documentId","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"documentId","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/available_documents/{documentId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"documentId","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"documentId","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/operations":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/operations/tariff_calculation":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/operations/tariff_calculation/execute":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/operations/tariff_calculation/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/output_documents":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/owners":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/owners/{ownerId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/owners/{ownerId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organizationId}":{"options":{"parameters":[{"in":"path","name":"organizationId","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organizationId","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/drivers":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/drivers/{driverId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driverId","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driverId","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driverId","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/drivers/{driverId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driverId","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driverId","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/productComponents":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/productComponents/{productComponentId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponentId","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponentId","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponentId","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/productComponents/{productComponentId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponentId","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponentId","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/owners":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/owners/{ownerId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/risks/{riskId}/owners/{ownerId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"riskId","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"ownerId","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/tariffAdjustments":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/tariffAdjustments/{tariffAdjustmentId}":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustmentId","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustmentId","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustmentId","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quoteId}/tariffAdjustments/{tariffAdjustmentId}/status_report":{"options":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustmentId","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quoteId","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustmentId","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}}}}