{"swagger":"2.0","info":{"version":"1.0","title":"OmniChannel API Person","description":"**OmniChannel API**\n"},"host":"omnichannel.io","basePath":"/csc/insurance","schemes":["http","https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/persons":{"get":{"description":"Returns a list of person.","responses":{"200":{"description":"Returns a list of person.","schema":{"$ref":"#/definitions/personCollection"}},"400":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/persons/{personId}":{"get":{"description":"Returns a person detail.","parameters":[{"in":"path","name":"personId","description":"id of person.","required":true,"type":"string"}],"responses":{"200":{"description":"A client object.","schema":{"$ref":"#/definitions/personDocument"}},"400":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"personMetadata":{"type":"object","properties":{"omni-person:birth_date":{"type":"string"},"omni-person:client_number":{"type":"string"},"omni-person:first_name":{"type":"string"},"omni-person:last_name":{"type":"string"},"omni-person:portal_code":{"type":"string"},"ipos:salutation":{"type":"string"},"ipos:gender":{"type":"string"},"ipos:clientudateeddate":{"type":"string"},"ipos:totalannualpremium":{"type":"string"},"ipos:age":{"type":"string"},"ipos:idtype":{"type":"string"},"ipos:idnumber":{"type":"string"},"ipos:maritalstatus":{"type":"string"},"ipos:occupation":{"type":"string"},"ipos:race":{"type":"string"},"ipos:nationality":{"type":"string"},"ipos:comment":{"type":"string"},"ipos:title":{"type":"string"},"ipos:contact":{"type":"object"},"ipos:address":{"type":"object"},"ipos:addressresponse":{"type":"object"}}},"sysHALlinkObject":{"type":"object","required":["href"],"properties":{"href":{"type":"string","format":"uri"},"name":{"type":"string"},"templated":{"type":"boolean"},"title":{"type":"string"}}},"HALlinkObject":{"type":"object","required":["href"],"properties":{"href":{"type":"string","format":"uri"},"name":{"type":"string"},"summary":{"type":"array","items":{"$ref":"#/definitions/personMetadata"}},"templated":{"type":"boolean"},"title":{"type":"string"}}},"collection_links":{"type":"object","properties":{"cscrel:item-type":{"type":"array","items":{"$ref":"#/definitions/sysHALlinkObject"}},"curies":{"type":"array","items":{"$ref":"#/definitions/cscrel"}},"first":{"$ref":"#/definitions/sysHALlinkObject"},"item":{"type":"array","items":{"$ref":"#/definitions/HALlinkObject"}},"last":{"$ref":"#/definitions/sysHALlinkObject"},"next":{"$ref":"#/definitions/sysHALlinkObject"},"prev":{"$ref":"#/definitions/sysHALlinkObject"},"self":{"$ref":"#/definitions/sysHALlinkObject"},"type":{"$ref":"#/definitions/sysHALlinkObject"},"up":{"$ref":"#/definitions/sysHALlinkObject"}}},"cscrel":{"type":"object","properties":{"href":{"type":"string"},"name":{"type":"string"},"templated":{"type":"boolean"}}},"personCollection":{"type":"object","properties":{"_links":{"$ref":"#/definitions/collection_links"},"count":{"type":"string"}}},"personDocument":{"type":"object","required":["omni-person:first_name","omni-person:last_name","omni-person:birth_date","omni-person_detail:nationality"],"properties":{"omni-person:birth_date":{"type":"string"},"omni-person:client_number":{"type":"string"},"omni-person:first_name":{"type":"string"},"omni-person:last_name":{"type":"string"},"omni-person:marital_status":{"type":"string"},"omni-person:person_title":{"type":"string"},"omni-person:postal_code":{"type":"string"},"omni-person_detail:nationality":{"type":"string"},"ipos-client:salutation":{"type":"string"},"ipos-client:gender":{"type":"string"},"ipos-client:idtype":{"type":"string"},"ipos-client:age":{"type":"string"},"ipos-client:idnumber":{"type":"string"},"ipos-client:occupation":{"type":"string"},"ipos-client:race":{"type":"string"},"ipos-client:contacts":{"type":"object"},"ipos-client:addresses":{"type":"object"},"ipos-client:comment":{"type":"string"},"_link":{"$ref":"#/definitions/_link"}}},"sysHALlinkObject1":{"type":"object"},"_link":{"type":"object","properties":{"cscaia:operations":{"$ref":"#/definitions/sysHALlinkObject1"},"cscaia:status_report":{"$ref":"#/definitions/sysHALlinkObject"},"curies":{"type":"array","items":{"$ref":"#/definitions/cscrel"}},"person:bank_account_list":{"$ref":"#/definitions/sysHALlinkObject"},"person:e_mail_address_list":{"$ref":"#/definitions/sysHALlinkObject"},"person:phone_address_list":{"$ref":"#/definitions/sysHALlinkObject"},"person:postal_address_list":{"$ref":"#/definitions/sysHALlinkObject"},"self":{"$ref":"#/definitions/sysHALlinkObject"},"type":{"$ref":"#/definitions/sysHALlinkObject"},"up":{"$ref":"#/definitions/sysHALlinkObject"}}},"Error":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"fields":{"type":"string"}}}}}