{"swagger":"2.0","info":{"title":"OmniChannelParty","description":"OmniChannel Party API","version":"1.0.0"},"host":"api.csc.com","schemes":["https"],"basePath":"/csc/insurance","paths":{"/persons":{"options":{"responses":{"200":{"description":"Success"}}},"post":{"responses":{"201":{"description":"Created"}}},"get":{"responses":{"200":{"description":"Success"}}}},"/persons/{person}":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/operations":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/operations/createPostalAddress":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/operations/createPostalAddress/{createPostalAddres}":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"delete":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Deleted"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/operations/createPostalAddress/{createPostalAddres}/execute":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/operations/createPostalAddress/{createPostalAddres}/status_report":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"createPostalAddres","description":"ID of the createPostalAddres","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/status_report":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/bankAccounts":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/bankAccounts/{bankAccount}":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"bankAccount","description":"ID of the bankAccount","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"bankAccount","description":"ID of the bankAccount","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/bankAccounts/{bankAccount}/status_report":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"bankAccount","description":"ID of the bankAccount","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"bankAccount","description":"ID of the bankAccount","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/eMails":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/phoneNumbers":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/postalAddresses":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/postalAddresses/{postalAddresse}":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"postalAddresse","description":"ID of the postalAddresse","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"postalAddresse","description":"ID of the postalAddresse","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/persons/{person}/postalAddresses/{postalAddresse}/status_report":{"options":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"postalAddresse","description":"ID of the postalAddresse","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"person","description":"ID of the person","required":true,"type":"string"},{"in":"path","name":"postalAddresse","description":"ID of the postalAddresse","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations":{"options":{"responses":{"200":{"description":"Success"}}},"post":{"responses":{"201":{"description":"Created"}}},"get":{"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/operations":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/operations/createPostalAddress":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/status_report":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/bankAccounts":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/eMails":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/phoneNumbers":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/postalAddresses":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/postalAddresses/{postalAddress}":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"},{"in":"path","name":"postalAddress","description":"ID of the postalAddress","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"},{"in":"path","name":"postalAddress","description":"ID of the postalAddresse","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}/postalAddresses/{postalAddress}/status_report":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"},{"in":"path","name":"postalAddress","description":"ID of the postalAddress","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"},{"in":"path","name":"postalAddress","description":"ID of the postalAddress","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}}}}