{"swagger":"2.0","info":{"title":"OmniChannelOffers","description":"OmniChannel Offers API","version":"1.0.0"},"host":"api.csc.com","schemes":["https"],"basePath":"/csc/insurance","paths":{"/offers":{"options":{"responses":{"200":{"description":"Success"}}},"get":{"responses":{"200":{"description":"Success"}}}},"/offers/{offer}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/billings":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/billings/{billing}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"billing","description":"ID of the billing","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"billing","description":"ID of the billing","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"billing","description":"ID of the billing","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/billings/{billing}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"billing","description":"ID of the billing","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"billing","description":"ID of the billing","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/distributors":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/distributors/{distributor}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"distributor","description":"ID of the distributor","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"distributor","description":"ID of the distributor","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/distributors/{distributor}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"distributor","description":"ID of the distributor","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"distributor","description":"ID of the distributor","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires/{questionnaire}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires/{questionnaire}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires/{questionnaire}/questionAnswers":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires/{questionnaire}/questionAnswers/{questionAnswer}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"},{"in":"path","name":"questionAnswer","description":"ID of the questionAnswer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"},{"in":"path","name":"questionAnswer","description":"ID of the questionAnswer","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"},{"in":"path","name":"questionAnswer","description":"ID of the questionAnswer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/risks/{risk}/questionnaires/{questionnaire}/questionAnswers/{questionAnswer}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"},{"in":"path","name":"questionAnswer","description":"ID of the questionAnswer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"questionnaire","description":"ID of the questionnaire","required":true,"type":"string"},{"in":"path","name":"questionAnswer","description":"ID of the questionAnswer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/partyRoles":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/partyRoles/{partyRole}":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"partyRole","description":"ID of the partyRole","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"partyRole","description":"ID of the partyRole","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"partyRole","description":"ID of the partyRole","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/partyRoles/{partyRole}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"partyRole","description":"ID of the partyRole","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"},{"in":"path","name":"partyRole","description":"ID of the partyRole","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/available_documents":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/operations":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/operations/replaceOfferPerson":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/output_documents":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/offers/{offer}/status_report":{"options":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"offer","description":"ID of the offer","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/assistance_contracts":{"options":{"responses":{"200":{"description":"Success"}}}},"/quotes":{"options":{"responses":{"200":{"description":"Success"}}},"post":{"responses":{"201":{"description":"Created"}}},"get":{"responses":{"200":{"description":"Success"}}}}}}