{"swagger":"2.0","info":{"title":"OmniChannelQuote","description":"Quote APIs for OmniChannel","version":"1.0.0"},"host":"api.csc.com","schemes":["https"],"basePath":"/csc/insurance","paths":{"/quotes":{"options":{"responses":{"200":{"description":"Success"}}},"post":{"responses":{"201":{"description":"Created"}}},"get":{"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"delete":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Deleted"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/available_documents":{"options":{"parameters":[{"in":"path","name":"quote","description":"An instance of a quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"Unique ID of an instance of a quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/available_documents/{document}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"document","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"document","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/available_documents/{document}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"document","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"document","description":"ID of the document","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/operations":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/operations/tariff_calculation":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/operations/tariff_calculation/execute":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/operations/tariff_calculation/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/output_documents":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/owners":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/owners/{owner}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/owners/{owner}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/organizations/{organization}":{"options":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"organization","description":"ID of the organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/drivers":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"post":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"201":{"description":"Created"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/drivers/{driver}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driver","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driver","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driver","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/drivers/{driver}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driver","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"driver","description":"ID of the driver","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/productComponents":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/productComponents/{productComponent}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponent","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponent","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponent","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/productComponents/{productComponent}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponent","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"productComponent","description":"ID of the productComponent","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/owners":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/owners/{owner}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/risks/{risk}/owners/{owner}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"risk","description":"ID of the risk","required":true,"type":"string"},{"in":"path","name":"owner","description":"ID of the owner","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/tariffAdjustments":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/tariffAdjustments/{tariffAdjustment}":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustment","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"patch":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustment","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Updated"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustment","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/quotes/{quote}/tariffAdjustments/{tariffAdjustment}/status_report":{"options":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustment","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}},"get":{"parameters":[{"in":"path","name":"quote","description":"ID of the quote","required":true,"type":"string"},{"in":"path","name":"tariffAdjustment","description":"ID of the tariffAdjustment","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}}}}