{"swagger":"2.0","info":{"title":"OSSRank REST API","description":"API to query opensource project ranking","version":"1.0.0"},"host":"api.csc.com","schemes":["https","http"],"basePath":"/ossrank","produces":["application/json"],"consumes":["application/json"],"paths":{"/home":{"get":{"summary":"API root","description":"What can I do?","responses":{"200":{"description":"A list of available resources","schema":{"$ref":"#/definitions/Resource"}}}}},"/projects":{"post":{"tags":["project"],"summary":"Add a new project to","description":"","operationId":"addProject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Project object to be added","required":false,"schema":{"$ref":"#/definitions/Project"}}],"responses":{"405":{"description":"Invalid input"}}},"get":{"summary":"Projects","description":"The Projects endpoint returns a collection of available projects","parameters":[{"name":"category","in":"query","description":"category Identifier","required":false,"type":"string","format":"string"}],"responses":{"200":{"description":"An array of projects","schema":{"type":"array","items":null,"$ref":"#/definitions/Project"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/projects/{project_id}":{"get":{"summary":"Project Detailw","description":"Project details given project id","parameters":[{"in":"path","name":"project_id","description":"ID of project to fetch","required":true,"type":"integer","format":"int64"}],"tags":["project"],"responses":{"200":{"description":"Project detail","schema":{"$ref":"#/definitions/Project"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/categories":{"get":{"summary":"Project Categories","description":"List of OSS project categories","tags":["category"],"responses":{"200":{"description":"An array of categories","schema":{"type":"array","items":null,"$ref":"#/definitions/Category"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"Resource":{"properties":{"title":{"type":"string","description":"Resource name"},"href":{"type":"string","description":"Resource URI"}}},"Project":{"properties":{"project_id":{"type":"string","description":"Unique project identifier."},"name":{"type":"string","description":"."},"description":{"type":"string","description":"Text description of project"},"rank":{"type":"string","description":"."}}},"Category":{"properties":{"category_id":{"type":"string","description":"Unique identifier."},"category_name":{"type":"string","description":"name"},"description":{"type":"string","description":"description"}}},"Error":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"fields":{"type":"string"}}}}}