/*
.themedefualt{
background-color:  #f5f5f5;
font-family :'Helvetica Neue';
font-size : 14px;
}
.theme1{
background-color:  #ffe7e7;
font-family :'Berlin Sans FB';
font-size : 14px;
}
.theme2{
background-color:  #e7ffff;
font-family :'Bradley Hand ITC';
font-size : 14px;
}
.theme3{
background-color:  #ffffe7;
font-family :'Microsoft Himalaya,Arial,sans-serif';
font-size : 16px;
}
*/
.theme{
background-color:  #f5f5f5;
font-family :'Helvetica Neue';
font-size : 14px;
}