    /*
    Flaticon icon font: Flaticon
    Creation date: 12/12/2016 21:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-account-number:before { content: "\f100"; }
.flaticon-alert-msg:before { content: "\f101"; }
.flaticon-amendment:before { content: "\f102"; }
.flaticon-amount:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-attach:before { content: "\f105"; }
.flaticon-auto:before { content: "\f106"; }
.flaticon-auto2:before { content: "\f107"; }
.flaticon-auto3:before { content: "\f108"; }
.flaticon-avatar:before { content: "\f109"; }
.flaticon-back:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-cellphone:before { content: "\f10c"; }
.flaticon-circle:before { content: "\f10d"; }
.flaticon-client:before { content: "\f10e"; }
.flaticon-close:before { content: "\f10f"; }
.flaticon-complete:before { content: "\f110"; }
.flaticon-completed:before { content: "\f111"; }
.flaticon-consultation:before { content: "\f112"; }
.flaticon-copy:before { content: "\f113"; }
.flaticon-credit-card:before { content: "\f114"; }
.flaticon-customer-dashboard:before { content: "\f115"; }
.flaticon-dashboard:before { content: "\f116"; }
.flaticon-delete:before { content: "\f117"; }
.flaticon-done:before { content: "\f118"; }
.flaticon-dropdown:before { content: "\f119"; }
.flaticon-edit:before { content: "\f11a"; }
.flaticon-email:before { content: "\f11b"; }
.flaticon-end:before { content: "\f11c"; }
.flaticon-error-msg:before { content: "\f11d"; }
.flaticon-family:before { content: "\f11e"; }
.flaticon-first:before { content: "\f11f"; }
.flaticon-font-sizer:before { content: "\f120"; }
.flaticon-forward:before { content: "\f121"; }
.flaticon-gen-info:before { content: "\f122"; }
.flaticon-go-paper:before { content: "\f123"; }
.flaticon-go-paperless:before { content: "\f124"; }
.flaticon-grid:before { content: "\f125"; }
.flaticon-help:before { content: "\f126"; }
.flaticon-history:before { content: "\f127"; }
.flaticon-home:before { content: "\f128"; }
.flaticon-incomplete:before { content: "\f129"; }
.flaticon-info-msg:before { content: "\f12a"; }
.flaticon-inquiry:before { content: "\f12b"; }
.flaticon-insured-access:before { content: "\f12c"; }
.flaticon-local-agents:before { content: "\f12d"; }
.flaticon-location:before { content: "\f12e"; }
.flaticon-locked:before { content: "\f12f"; }
.flaticon-login:before { content: "\f130"; }
.flaticon-logout:before { content: "\f131"; }
.flaticon-make-pmt:before { content: "\f132"; }
.flaticon-moped:before { content: "\f133"; }
.flaticon-motorcycle:before { content: "\f134"; }
.flaticon-nb:before { content: "\f135"; }
.flaticon-next:before { content: "\f136"; }
.flaticon-password:before { content: "\f137"; }
.flaticon-pdf:before { content: "\f138"; }
.flaticon-phone:before { content: "\f139"; }
.flaticon-policy:before { content: "\f13a"; }
.flaticon-previous:before { content: "\f13b"; }
.flaticon-print:before { content: "\f13c"; }
.flaticon-question:before { content: "\f13d"; }
.flaticon-quote:before { content: "\f13e"; }
.flaticon-register-a-claim:before { content: "\f13f"; }
.flaticon-save:before { content: "\f140"; }
.flaticon-search:before { content: "\f141"; }
.flaticon-stop:before { content: "\f142"; }
.flaticon-success-msg:before { content: "\f143"; }
.flaticon-take-a-tour:before { content: "\f144"; }
.flaticon-unavailable:before { content: "\f145"; }
.flaticon-unlocked:before { content: "\f146"; }
.flaticon-van:before { content: "\f147"; }
.flaticon-view:before { content: "\f148"; }
.flaticon-xls-file:before { content: "\f149"; }
    
    $font-Flaticon-account-number: "\f100";
    $font-Flaticon-alert-msg: "\f101";
    $font-Flaticon-amendment: "\f102";
    $font-Flaticon-amount: "\f103";
    $font-Flaticon-arrows: "\f104";
    $font-Flaticon-attach: "\f105";
    $font-Flaticon-auto: "\f106";
    $font-Flaticon-auto2: "\f107";
    $font-Flaticon-auto3: "\f108";
    $font-Flaticon-avatar: "\f109";
    $font-Flaticon-back: "\f10a";
    $font-Flaticon-calendar: "\f10b";
    $font-Flaticon-cellphone: "\f10c";
    $font-Flaticon-circle: "\f10d";
    $font-Flaticon-client: "\f10e";
    $font-Flaticon-close: "\f10f";
    $font-Flaticon-complete: "\f110";
    $font-Flaticon-completed: "\f111";
    $font-Flaticon-consultation: "\f112";
    $font-Flaticon-copy: "\f113";
    $font-Flaticon-credit-card: "\f114";
    $font-Flaticon-customer-dashboard: "\f115";
    $font-Flaticon-dashboard: "\f116";
    $font-Flaticon-delete: "\f117";
    $font-Flaticon-done: "\f118";
    $font-Flaticon-dropdown: "\f119";
    $font-Flaticon-edit: "\f11a";
    $font-Flaticon-email: "\f11b";
    $font-Flaticon-end: "\f11c";
    $font-Flaticon-error-msg: "\f11d";
    $font-Flaticon-family: "\f11e";
    $font-Flaticon-first: "\f11f";
    $font-Flaticon-font-sizer: "\f120";
    $font-Flaticon-forward: "\f121";
    $font-Flaticon-gen-info: "\f122";
    $font-Flaticon-go-paper: "\f123";
    $font-Flaticon-go-paperless: "\f124";
    $font-Flaticon-grid: "\f125";
    $font-Flaticon-help: "\f126";
    $font-Flaticon-history: "\f127";
    $font-Flaticon-home: "\f128";
    $font-Flaticon-incomplete: "\f129";
    $font-Flaticon-info-msg: "\f12a";
    $font-Flaticon-inquiry: "\f12b";
    $font-Flaticon-insured-access: "\f12c";
    $font-Flaticon-local-agents: "\f12d";
    $font-Flaticon-location: "\f12e";
    $font-Flaticon-locked: "\f12f";
    $font-Flaticon-login: "\f130";
    $font-Flaticon-logout: "\f131";
    $font-Flaticon-make-pmt: "\f132";
    $font-Flaticon-moped: "\f133";
    $font-Flaticon-motorcycle: "\f134";
    $font-Flaticon-nb: "\f135";
    $font-Flaticon-next: "\f136";
    $font-Flaticon-password: "\f137";
    $font-Flaticon-pdf: "\f138";
    $font-Flaticon-phone: "\f139";
    $font-Flaticon-policy: "\f13a";
    $font-Flaticon-previous: "\f13b";
    $font-Flaticon-print: "\f13c";
    $font-Flaticon-question: "\f13d";
    $font-Flaticon-quote: "\f13e";
    $font-Flaticon-register-a-claim: "\f13f";
    $font-Flaticon-save: "\f140";
    $font-Flaticon-search: "\f141";
    $font-Flaticon-stop: "\f142";
    $font-Flaticon-success-msg: "\f143";
    $font-Flaticon-take-a-tour: "\f144";
    $font-Flaticon-unavailable: "\f145";
    $font-Flaticon-unlocked: "\f146";
    $font-Flaticon-van: "\f147";
    $font-Flaticon-view: "\f148";
    $font-Flaticon-xls-file: "\f149";