@media (min-width:1200px)
{
	#sideExpanderRight, #sideExpanderAction, #sideExpanderActivity{
		display:none;
	}
  
  .span2 {
		width: 195px;
	}
	
	body{
		overflow : hidden;
	}
	
}

@media (min-width: 980px) and (max-width: 1200px)
{
	#sideExpanderRight, #sideExpanderAction, #sideExpanderActivity{
		display:none;
	}
	body{
		overflow : hidden;
	}
}

@media (min-width: 768px) and (max-width: 979px)
{
	.sidebarLeft, .sidebarRight{
		width: 150px !important;
	}
  	
  	body{
		overflow : hidden;
	}
  	
	#menuright{
		clear:none;
	}
	
	#sideExpanderRight, #sideExpanderAction, #sideExpanderActivity{
		display:none;
	}
	.locMcoContainer{
		margin-left: 105px;
		top: -23px;
		position: relative;;
	}
 
  .modal.fade.in {
		top: 84px !important;
	}
  
	input, textarea, .uneditable-input {
		width: 150px;
	}
	[class*="span"] {
		margin-left: 0px !important;
	}
	.subsectiondiv {
		width: 95%;
	}
	.span9 {
		width: 520px;
	}
}

@media ( max-width : 980px) {
	.form-horizontal .control-group>label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-fixed-top {
    		margin-bottom: 0px;
	}
	.subsectiondiv{
 		width: 95%;
	}
}