@media (max-width: 600px)
{
	#maincontent{
		/*width:100% !important;*/
		position : absolute;
		min-width:350px;
		margin-right: 10px;
		margin-left: 10px;
	}
	
	  .sidebarLeft, .sidebarRight{
		width: 150px !important;
	}
  
	
	#menuright{
		clear:none;
	}
	
	.sidebarRight{
		margin-left: 10px !important;
	}
	

	.locMcoContainer{
		margin-left: 105px;
		top: -23px;
		position: relative;
	}
	
	.form-signin {
    	max-width: 100%;
    }
	
}

@media (max-width: 480px)
{
	.titlebar{
		height: 65px;
	}
	
	.form-signin {
    	max-width: 100%;
    }
}