@media (min-width: 600px) and (max-width: 767px)
{
  
  .sidebarLeft, .sidebarRight{
		width: 150px !important;
	}
  
  	.sidebarRight{
		margin-left: 10px !important;
	}
	
	#maincontent{
		position : absolute;
		margin-right: 10px;
		margin-left: 10px;
	}
	
	#menuright{
		clear:none;
	}
	
	.locMcoContainer{
		margin-left: 105px;
		top: -23px;
		position: relative;
	}
}

@media (max-width: 767px){

	.staticdatabar {
		height: 70px !important;
	}
	
	body {
		padding-right: 0px;
		padding-left: 0px;
		margin:0px;
		min-width:340px;
	}
}