
.sidebar-nav {
	padding: 9px 0;
}

button.tracebtn.collapsed:before
{
    content:'Show Details' ;
    display:block;
}
button.tracebtn:before
{
    content:'Hide Details' ;
    display:block;
}

.arial{
	font-family : Arial;
}

.georgia{
	font-family : Georgia;
}

.verdana{
	font-family : Verdana;
}


.alert {
  z-index:100;
   top:45%;
 padding: 8px 35px 26px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 2px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  /* border-color: #eed3d7; */
  border-color: #b94a48;
}

.alert-info {
	
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

.alert-warning {
 
color: #b79f73;
background-color: #FFDEA1;
 border-color: #b79f73;

}

.error-icon {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 8px;
  background-repeat: no-repeat;
}

.error-text {
	font-size: 20px;
	margin-left:60px;
}


.g-container {
	border: 1px solid #DDDDDD;
	border-radius: .5em;
	padding: .5em;
}

.navbar a.brand img {
	height: 60px;
	width: 130px;
}

/* Portlets */
.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	margin: 0 1em 1em 0;
	text-align: center;
	border-radius: .5em;
	padding: .3em;
}

.portlet-content {
	padding: 0.4em;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.navbar-fixed-top,.navbar-fixed-bottom {
	position: relative;
}

.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
	padding: 0px
}

.maintenance {
	height: 160px;
	width: 100%;
	z-index : 1100 !important;
	position: relative;
}

.navbar-fixed-top,.navbar-fixed-bottom {
	position: relative;
}

.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	height: 350px;
}

/* Classes for Branding properties */

/* Set Image url of logo by changing the background-image */
a.brand>.imglogo {
	width: 80px;
	background-image: url("../../icons/logo.png") !important;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height:53px;
	margin-right: 15px;
}

/*Set the Header of the page after the logo by replacing the content text*/
a.brand>.headertext:after {
	width: auto;
	height: auto;
	content: "";
	display: inline-block;
}

/* Edit the Copyrights info in the footer by replacing text of the contents */
span.spanfooter:after {
	content: "2014 CSC";
	display: inline-block;
}

.mainContainer
{
	margin : 10px;
	margin-top: 0px;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    1px 0px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         1px 0px 1px rgba(0, 0, 0, 0.2);      
	background-image: linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 20%);
	background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 20%);
	background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 20%);
	background-image: -webkit-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 20%);
	background-image: -ms-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 20%);
	padding: 10px;
}

.subsectiondiv
{
	text-align:center;
	float:left;
	margin: 5px;
	width: 95%;
}

.form-horizontal .control-label {
	text-align: left;
}

div.controls{
	margin-left: 0px;
}

.groupdiv{
	text-align: left;
	display: inline;
	float: left;
}

.well {
  min-height: 20px;
  padding: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	-webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    1px 0px 1px rgba(0, 0, 0, 0.2);
	box-shadow:         1px 0px 1px rgba(0, 0, 0, 0.2);      
	
	padding: 10px;
}

div.input-append > input {
	margin-right: 0px !important;
	display: inline-block;
}
.imgsearch{
 	background-image: url("../../icons/I_search.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    top:-3px;
    position: relative;
    width: 23px;
    z-index:1 !important;
}

.icon-change{
 	background-image: url("../../icons/I_Edit.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.icon-inquire{
 	background-image: url("../../icons/I_Add.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    top : 4px;
}

.icon-delete{
 	background-image: url("../../icons/I_Delete.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
}

div.input-append{
	display: inline-block;
}

.hidden{
	display:none;
}

div.labelspan{
	width:100%;
}

div.controlspan{
	width:100%;
}

ul.trheader {
	 list-style: none outside none;
	  margin: 0 0 0 10px;
	  
}
div.trheader{
	padding-top:5px;
	font-size: 16px;
	height:30px;
}
a.trheader{
	color: #3366CC;
}

input.ui-button {
    padding: 0 1em;
}

.innerContainer{
	height:100%;
	 margin-left: 0;
	 min-height: 350px;
}

.subheader{
	display: inline-block;
	width: 100%;
}

.subheader > span {
	font-weight: bold;
	font-size:18px;
	margin-left:5px;
	float:left;
}

.imgcontainer{
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.imghomeicons{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.staticdatabar{
	height:33px;
	padding: 10px 10px 5px 5px;
}
.staticdatarow{
	margin-left: 10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.staticDataLabel{
	float:left;
	font-weight: bold;
	font-size: 13px;
	
}
.staticDataText{
	font-size: 13px;
	margin-left: 10px;
	float: left;	
}

.homeDiv{
	min-height:180px;
}

[class*="span"]
{
	 padding-left: 0px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
div.input-prepend,
div.input-append {
  float: left !important;
  margin-left: 0;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    height: 350px;
}


.sidebarLeft{
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.sidebarRight{
	margin-right: 10px;
	margin-top: 0px;
	margin-left: 0px !important;
}

.form-horizontal .control-group {
	margin-bottom: 0px !important;
}

.navbar-inner {
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.row-fluid [class*="span"] 
{
	margin-right: 5px;
	margin-left : 0px !important;
}

.requiredmark{
  	color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
}

.input-append .add-on, .input-prepend .add-on {
	padding: 0px 2px !important;
	text-align: center;
}

.mainTemplate{
	margin-left: 0px;
}

.resizerFontUp {
	background-image: url("../../icons/Tbar_Font_increase.png") !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 30px;
	height: 15px;
	float: right;
	margin-top: 15px;
}
.resizerFontDown{
	background-image: url("../../icons/Tbar_Font_decrease.png") !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 30px;
	height: 15px;
	float: right;
	margin-top: 19px;
}
.fontResizer{
	margin-top:15px;
	margin-right:10px;
	cursor: pointer;
}

.imgCalender{
	background-image: url("../../icons/I_Calendar.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 19px;
    height: 21px;
}

.titlebar{
	height:40px;
	padding-right:10px;
}
.titlebar > span{
	font-weight: bold;
	float:left;
	padding: 10px;
	padding-bottom: 0px;
	height: 25px;
}

.divButtonBar{
	float:left;
	width:100%;
}

.modal-backdrop {
	opacity: 0.4 !important;
}
.imgSideBarTabOpen{
	background-image: url("../../icons/TB_sidebar_L_gray.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 25px;
    height: 25px;
    float:right;
    margin-left: 5px;
    margin-top:5px;
}

.imgSideBarTabClose{
	background-image: url("../../icons/TB_sidebar_R_gray.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 25px;
    height: 25px;
    float:right;
    margin-left: 5px;
    margin-top:5px;
}

.btn-search{
	z-index: 0 !important;
}


#sidebarTabLeft{
	float:left
}
#sidebarTabRight{
	float:right
}

.slideRight{
	background-image: url("../../icons/A_Home_R.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 12px;
    height: 100%;
}

.slideRight.disabled{
	background-image: url("../../icons/A_home_R_disabled.png") !important;
}

.slideLeft.disabled{
	background-image: url("../../icons/A_home_L_disabled.png") !important;
}

.slideLeft{
	background-image: url("../../icons/A_Home_L.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 12px;
    height: 100%;
}

.imgExpand{
	background-image: url("../../icons/I_Expand.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.imgCollapse{
	background-image: url("../../icons/I_Collapse.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
#sideExpanderRight, #sideExpanderAction, #sideExpanderActivity{
	float:right;
}

#sliderRight{
	float:right;
	margin-right: 5px;
}
#sliderLeft{
	float:Left;
	margin-left: 5px;
}

.locMcoContainer{
	float:left;
	margin-top: 20px;
}

.navbarmodal{
	z-index: 1100 !important;
}

.modal.fade {
  top: 10px !important;
}

.modal.fade.in{
	top: 79px !important;
}

#menuleft{
	width:auto;
	z-index :2;
}

#menuright {
	width:0px;
	z-index :2;
}

.buttonholder{
	width:100% ;
	display:table;
}

.fieldDiv{
	display:inline;
}

.sectiondiv{
	padding: 5px;
}

.resizeBig{
	-moz-transform: scale(1.08);
	zoom : 110% ;
}

.titlebox{
	float: left;
	padding: 0 5px;
	margin: -20px 0 0 10px;
	background: #fff;
}

.ux_add_bubble_pointer_icon, .ux_EP_bubble_pointer_icon{
	border-color: transparent #EAEAEA transparent transparent;
	/* This is a trick for IE because IE supports transparent NOT rgba */
	border-color: rgba(255, 255, 255, 0) #EAEAEA rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	/* Fixed transparent border issue in Firefox */
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	height: 0;
	left: -20px;
	position: absolute;
	top: 30px;
	width: 0;
}

.ux_add_bubble_pointer_icon_border, .ux_EP_bubble_pointer_icon_border{
	border-color: transparent #7D7E7E transparent transparent;
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	height: 0;
	left: -21px;
	position: absolute;
	top: 30px;
	width: 0;
}


.ux_expressprocessing_header {
	line-height: 25px;
	font-size: 0.875em;
	color: #FFFFFF;
	border-radius: 10px 10px 0 0;
	white-space: nowrap;
	text-align: left;
	padding-left: 10px;
}

.ux_expressprocessing_header {
	background-color: #104473;
}

.ux_autocomplete_container {
	float: left;
	background-color: #FFFFFF;
	margin: 0.313em;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}

.ux_bubble_autocomplete {
	z-index: 9999;
	left: 100%;
	top: -20px;
	padding-bottom: 0.313em;
	position: relative;
	background-color: #EAEAEA;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
	float: left;
	border: 0.063em solid #7D7E7E;
	min-height: 130px;
	width: 190px;
	visibility: hidden !important;
}

.iconExpressProcessing {
	width: 60px;
	background-image: url("../../icons/home/I_ExpressProcessing.png") !important;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	height:40px;
	margin-left:30px;
}

input[type="text"].ux_home_EP_autoComplete {
	width: 139px;
	height: 25px;
	display: inline;
	vertical-align: top;
	border-width: 1px 0px 1px 0px !important;
	border-color: #AAAAAA;
	border-style: solid;
	border-radius: 7px 0px 0px 7px;
	margin: 0px;
	padding: 0px;
	font-size: 0.9em !important;
	float: left;
	padding-left: 8px !important;
}

.favoriteElement {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EBEBEB) );
	background: -moz-linear-gradient(top, #FFFFFF, #EBEBEB);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EBEBEB );
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EBEBEB)";
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	margin: 0.326em;
	border: 1px solid #C6C6C6;
	text-align: left;
	width: 161px;
	height: 1.5em;
}

.favoriteElementLink{
	font-size: 0.9em ;
	color: #000000 ;
	padding: 0.1em 0.5em;
}

.favoriteElementLink:hover{
	text-decoration: none;
}


#EPfavoritelist {
	text-align: left;
	margin-top: 35px;
}

.EPfavoritelist{
	display:none;
	float: left;
	width: 95%;
	margin-left: 2px;
}

.EPContainer{
	margin: 0 auto;
	width: 100px;
}

.homeIconContainer{
	margin: 0 auto;
	width: 100px;
	height:70px;
}

.ux_bubble_autocomplete.active {
	visibility: visible !important;
}

.appContextMenu{
	background-color: #F7F7F7;
	color: #222222;
	border: none;
	height: auto;
	left: 50%;
	top: 50px;
	width: 100px;
	padding: 3px;
	margin: 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
	visibility: hidden !important;
}

.ui-menuitem {
	width: 100%;
	float: left;
	clear: both;
	margin: 1px 0;
	padding: 0;
}

.nomargin{
	margin: 0px;
}

.ui-menuitem-link {
	display: block;
	width: 92%;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	border: solid 1px transparent;
	float: left;
	line-height: 16px;
	padding: 2px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: black;
}

.ui-menuitem-link:hover{
	background: #0d8ebe;
	font-weight: normal;
	color: #ffffff;
}

.ui-menuitem-icon {
	display: inline-block;
	float: left;
}

.icoBfavoritesActive{
	width: 30px;
	margin:auto;
	background-image: url("../../icons/home/B_Favorites-active.png") !important;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 26px;
	float: right;
	vertical-align: top;
}

.icoBfavoritesInActive{
	width: 30px;
	margin:auto;
	background-image: url("../../icons/home/B_Favorites-inactive.png") !important;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 26px;
	float: right;
	vertical-align: top;
}

.icoFavoriteStarOn{
	width: 15px !important;
	margin:auto;
	background-image: url("../../icons/home/Ind_FavoriteStar_on.png") !important;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 15px;
	cursor:pointer;
	float: right !important;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 2px;
	clear: none !important;
	border:none !important;
}

.icoFavoriteStarOff{
	width: 15px !important;
	margin:auto;
	background-image: url("../../icons/home/Ind_FavoriteStar_off.png") !important;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 15px;
	cursor:pointer;
	float: right !important;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 2px;
	clear: both !important;
	border:none !important;
}

.autoCompleteFavOptions{
	font-size: .85em !important;
	float: left;
	width: 80%;
	padding: .05em .4em !important;
}

.autoCompleteEPli{
	width: 170px !important;
}

.loading{
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	height: 80%;
}

.anchor-pointer{
	cursor:pointer
}

.maximized-modal {
	position: fixed;
	top: 84px;
	width: 98.5%;
	height: 91%; 
	z-index: 2000;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.close-modal-grid{
	display: block;
	float: right !important;
}

.close-modal-grid a{
	border: none;
	outline: none; 
}

.close-modal-grid img{
	height: 29px;
	width: 46px;
	right: -1.31em;
	top: -.64em;	
	border: none;
	outline: none;
	cursor: pointer; 
	content: url("../../icons/home/B_Close-blue.png") !important;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	margin-top: 0px !important;
	margin-right: 0.25em !important;
	position: relative !important;
	border-radius: 0px !important;
	z-index: 9999999999 !important;
	background-color: transparent;
}

.modal-header-row-grid{
	border: solid #093C75;
 	border-width: 2px 2px 0 2px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.maximized-modal-grid-body{
	max-height : 100%;
	height : inherit;
	border: solid #093C75;
	border-width: 0 2px 2px 2px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
}

.modal-backdrop-grid{
	background-color: transparent ;
}

.maximized-modal-body{
	height : inherit;
	max-height : 100%;
}

.maximizedGridStyle{
	height : 465px;
}


.ico-pending,.ico-p{
 	background-image: url("../../icons/P.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
}

.ico-cancelled,.ico-c{
 	background-image: url("../../icons/C.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
}


.ico-verified,.ico-v{
 	background-image: url("../../icons/V.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.icoCalender{
	background-image: url("../../icons/I_Calendar_wb.jpg") !important;
	width: 20px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	border:1px solid #848484;
}
	
.ui-datepicker-trigger {
	border: none;
	background: none; 
	margin-left: -12px;
	}
	
	.modal-header-row {
	height: 25px;
}

.zoom .maximized-content  {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	opacity: 0;
	-webkit-transform-origin:70% 40%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.zoom.in .maximized-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;	
	height:inherit;
}

.iconMaximize {
	background-image: url("../../icons/maximize.png") ;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	height: inherit;
	width:20px;
}

.gridHeader{
	background-color: #eaeaea;
	height: 22px;
	padding: 1px;
	border-top: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}

.ico-add{
 	background-image: url("../../icons/I_Add.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.ico-inquire{
 	background-image: url("../../icons/I_Details.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.ico-change{
 	background-image: url("../../icons/I_Change.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.ico-delete{
 	background-image: url("../../icons/I_Delete.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}

.ux_bubble_add_app {
	z-index: 999;
	left: 100%;
	position: relative;
	visibility: hidden;
	background-color: #EAEAEA;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
	border: 1px solid #7D7E7E;
	width: 200px ;
	height: 100px ;
}

.ux_bubble_add_app_header {
	line-height: 25px;
	font-size: 0.875em;
	color: #FFFFFF;
	border-radius: 10px 10px 0 0;
	white-space: nowrap;
	text-align: left;
	padding-left: 0.7149em;
	background-color: #104473;
}

.ux_bubble_add_app_body {
	text-align: left;
	height: 7.5em;
	width: 11.3em;
	padding: 0.3125em 0.625em 0em 0.625em;
	max-height: 60px;
	overflow-y:scroll;
}

.ux_add_app_item {
	background-color: #FFFFFF;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	margin-bottom: 0.4167em;	
	padding: 1px 6px;
	border: 1px solid #C6C6C6;
	font-size: 12px;
	color: #222222;
	white-space: nowrap;
}

.ux_apps_list {
	float: left;
	width: 100%;
	overflow: visible;
}


.form-signin {
    max-width: 250px;
    padding: 17px 11px 46px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 2px 0px #cccccc;
       -moz-box-shadow: 2px 2px 0px #cccccc;
            box-shadow: 2px 2px 0px #cccccc;
}

.checkboxSpan{
	width: 30px !important;
}

.active{
	visibility: visible !important;
}

.iconExport {
	background-image: url("../../icons/Export.png") ;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	height: 21px;
	width: 60px;
}

.fixedHeightViewport{
	
}

.scrollable{
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Scroll bar effects */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}

.ux_ep_bubble_autocomplete {
	
	left: 100%;
	top: -20px;
}

 .highlighter{
	color: black;
	background: #e0e0e0;
	opacity: .7;
}

.ngPagerCurrent {
	margin: auto !important;	
}
.imgLoading{
	background-image: url("../../icons/loading.gif") !important;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: 9999;
	left: 50%;
	top: 50%;
}
.modal.fade.slideup {
  top: 50% !important;
  -webkit-transition: opacity 0.3s linear, top 0.5s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.5s ease-out;
       -o-transition: opacity 0.3s linear, top 0.5s ease-out;
          transition: opacity 0.3s linear, top 0.5s ease-out;
}

.modal.fade.in.slideup {
  top: 23% !important;
}

.noborder{
	border : none !important;
}

.transparent{
	background-color: transparent !important;
}

.footerdiv {
	position: relative;
	z-index : 1100 !important;
}

.applicationContainer {
	z-index : 1500 !important;
	cursor : pointer;
	margin-top : 15px;
}

a.swShowPage {
	background-color: #C4C4C4;
	border-radius: 7px;
	height: 6px;
	width: 13px;
	display: inline-block;
	margin-right: 5px;
}

a.swShowPage:hover, a.swShowPage.active {
	background-color: #104473 !important;
}

.alignCenter{
	text-align : center;
}
