@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../../vendors/bootstrap-sass/assets/stylesheets/bootstrap/utilities";

.oc-btn {
   @extend .btn;
}

.oc-btn-primary {
   @extend .btn-primary;
}

.oc-form-control {
   @extend .form-control ;
}

.oc-form-group {
   @extend .form-group;
}

.oc-modal {
   @extend .modal;
}

.oc-show {
   @extend .show ;
}
.oc-modal-dialog {
   @extend .modal-dialog ;
}

.oc-modal-content {
   @extend .modal-content ;
}

.oc-modal-header {
   @extend .modal-header ;
}

.oc-modal-body {
   @extend .modal-body ;
}


.oc-modal-footer {
   @extend .modal-footer ;
}

.oc-navbar {
   @extend .navbar ;
}

.oc-navbar-default {
   @extend .navbar-default ;
}

.oc-navbar-fixed-top {
   @extend .navbar-fixed-top ;
}

.oc-navbar-header {
   @extend .navbar-header ;
}

.oc-navbar-toggle {
   @extend .navbar-toggle ;
}

.oc-navbar-brand {
   @extend .navbar-brand ;
}

.oc-nav {
   @extend .nav;
}

.oc-navbar-nav {
   @extend .navbar-nav;
}


.oc-navbar-right {
   @extend .navbar-right;
}

.oc-dropdown {
   @extend .dropdown;
}

.oc-dropdown-menu {
   @extend .dropdown-menu;
}

.oc-dropdown-toggle {
   @extend .dropdown-toggle;
}


.oc-logo {
		  
		  margin-left: 10px;
		  margin-top: 5px;
		  background: url("../images/cscLogo.png");
		  background-repeat: no-repeat;
		  min-height: 38px;
		  background-size: 100% 100%;
	}

@media only screen and (max-width: 319px) {
.oc-logo {
		  width: 60%;
		  margin-left: 0px;
		  margin-top: 5px;

	}
}
@media only screen and (min-width: 421px) {
.oc-logo {
		  width: 40%;
		  margin-left: 0px;
		  margin-top: 5px;

	}
}
@media only screen and (min-width: 769px) {
.oc-logo {
		  width: 20%;
		  margin-left: 10px;
		  margin-top: 5px;
	
	}
}
